defaults/flow.json
[{"id":"799cf6e6.8fa178","type":"tab","label":"Visual Recognition v3"},{"id":"99ccde8b.e0dcf","type":"tab","label":"Speech to Text"},{"id":"5f012eda.93f3d","type":"tab","label":"Text to Speech"},{"id":"f44213e0.6b0cc","type":"tab","label":"Tone Analyser"},{"id":"169f5448.846cac","type":"tab","label":"Identify Langage"},{"id":"da45fc3a.420a7","type":"tab","label":"Langage Translation"},{"id":"5f3e9f2.f266c6","type":"tab","label":"Dialog"},{"id":"7c88ce6d.23512","type":"tab","label":"Conversation"},{"id":"a73b6354.5d21e","type":"tab","label":"Natural Langage Classifier"},{"id":"c759a611.651b38","type":"tab","label":"Retrieve and Rank"},{"id":"322f3382.26e20c","type":"tab","label":"Personality Insights"},{"id":"323ee091.8c83e","type":"tab","label":"Tradeoff Analytics"},{"id":"ffc20fff.55777","type":"tab","label":"Document Conversion"},{"id":"a207df14.8f7cc","type":"tab","label":"Data News"},{"id":"3665fcd.f4a2004","type":"tab","label":"Concept Insights"},{"id":"a998d52d.b1a658","type":"tab","label":"Image Analysis"},{"id":"150e1f6b.17a5d1","type":"tab","label":"Feature Extract"},{"id":"3882de91.d691a2","type":"watson-concept-insights-corpus","z":"3665fcd.f4a2004","cname":"","access":"private","corpusmode":"public","publiccorpus":"TEDTalks"},{"id":"df492c05.968d2","type":"watson-concept-insights-corpus","z":"3665fcd.f4a2004","cname":"mycorpus","access":"private","corpusmode":"user","publiccorpus":"TEDTalks"},{"id":"73003e38.6d70e","type":"inject","z":"f44213e0.6b0cc","name":"String","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":68,"wires":[["9a38b7c2.f7eb38"]]},{"id":"bde75f46.94e3a","type":"debug","z":"f44213e0.6b0cc","name":"","active":true,"console":"false","complete":"response","x":782.5000457763672,"y":132.93333435058594,"wires":[]},{"id":"9a38b7c2.f7eb38","type":"function","z":"f44213e0.6b0cc","name":"Prepare Request","func":"var data = \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it!\";\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":67.933349609375,"wires":[["3391faf5.e3e166"]]},{"id":"3cddcc5a.d67834","type":"dropbox","z":"f44213e0.6b0cc","dropbox":"","filename":"aDialogTemplateFile.txt","name":"","x":342.5,"y":134,"wires":[["3391faf5.e3e166"]]},{"id":"4746b6e8.5737a8","type":"inject","z":"f44213e0.6b0cc","name":"From Dropbox","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.5,"y":134,"wires":[["3cddcc5a.d67834"]]},{"id":"36aa5742.b7bea8","type":"http request","z":"f44213e0.6b0cc","name":"Get Buffer => Binary","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":334,"y":196,"wires":[["3391faf5.e3e166"]]},{"id":"60db19a0.ff0848","type":"inject","z":"f44213e0.6b0cc","name":"Buffer Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":196,"wires":[["36aa5742.b7bea8"]]},{"id":"ded4bfa5.2160b","type":"http in","z":"3665fcd.f4a2004","name":"HTTP GET /TEDTalks","url":"/TEDTalks","method":"get","swaggerDoc":"","x":117,"y":59,"wires":[["5d0a1a33.7d23a4"]]},{"id":"5d0a1a33.7d23a4","type":"function","z":"3665fcd.f4a2004","name":"Extract concept parameter","func":"msg.payload = msg.payload.concept;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":127,"wires":[["b8c9079c.64c638"]]},{"id":"6ce5dcb5.301a24","type":"http response","z":"3665fcd.f4a2004","name":"HTTP Response","x":1236,"y":298,"wires":[]},{"id":"b8c9079c.64c638","type":"watson-concept-insights-search-concepts","z":"3665fcd.f4a2004","x":637,"y":191,"wires":[["a22cd07d.3e041"]]},{"id":"a22cd07d.3e041","type":"watson-concept-insights-search","z":"3665fcd.f4a2004","name":"","corpus":"68199cb3.fe1c04","mode":"corpus","docapicall":"annotations","corpusapicall":"conceptualsearch","docname":"","query":"","x":950,"y":236,"wires":[["6ce5dcb5.301a24"]]},{"id":"4b0fb9f.e630a48","type":"dropbox","z":"3665fcd.f4a2004","dropbox":"","filename":"","name":"Get text file from Dropbox","x":353,"y":381,"wires":[["138258a4.1bc577"]]},{"id":"2853408f.67002","type":"inject","z":"3665fcd.f4a2004","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":289,"wires":[["4b0fb9f.e630a48"]]},{"id":"138258a4.1bc577","type":"watson-concept-insights-upload-document","z":"3665fcd.f4a2004","name":"","corpus":"546fa56.c86555c","documentname":"Test Document","documentlabel":"This document is a test for the concept insights service","contenttype":"text/plain","x":668,"y":348,"wires":[]},{"id":"80bf204e.f7015","type":"inject","z":"3665fcd.f4a2004","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":510,"wires":[["1eedf3f2.bb1a7c"]]},{"id":"1eedf3f2.bb1a7c","type":"watson-concept-insights-search","z":"3665fcd.f4a2004","name":"","corpus":"546fa56.c86555c","mode":"corpus","docapicall":"annotations","corpusapicall":"statistics","docname":"","query":"","x":376,"y":506,"wires":[["38f3ce97.8191d2"]]},{"id":"38f3ce97.8191d2","type":"debug","z":"3665fcd.f4a2004","name":"","active":true,"console":"false","complete":"false","x":688,"y":544,"wires":[]},{"id":"4f0a3052.43b6","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":78,"y":57,"wires":[["e088029e.a9b5a"]]},{"id":"e088029e.a9b5a","type":"function","z":"150e1f6b.17a5d1","name":"Prepare Request","func":"msg.payload=\"AlchemyAPI uses natural language processing, artificial intelligence, deep learning and massive-scale web crawling to power it's text analysis capabilities. Try entering your own text in this text box to see what knowledge AlchemyAPI can extract from your unstructured data\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":54,"wires":[["a70128d5.5ff2e8"]]},{"id":"a70128d5.5ff2e8","type":"alchemy-feature-extract","z":"150e1f6b.17a5d1","name":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":515,"y":90,"wires":[["1a0220e2.d9efff"]]},{"id":"1a0220e2.d9efff","type":"debug","z":"150e1f6b.17a5d1","name":"","active":true,"console":"true","complete":"features","x":712,"y":88,"wires":[]},{"id":"c24c8be3.a5abf8","type":"http request","z":"150e1f6b.17a5d1","name":"","method":"GET","ret":"txt","url":"ibm.com","x":249,"y":124,"wires":[["a70128d5.5ff2e8"]]},{"id":"b90162a7.03fc3","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":81,"y":125,"wires":[["c24c8be3.a5abf8"]]},{"id":"2c5c3f26.fd538","type":"template","z":"a998d52d.b1a658","name":"Prompt Images","field":"payload","format":"html","template":"<h1>Welcome to the Alchemy Vision Face Detection Demo on Node-RED</h1>\n<H2>Select an image</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://cssslider.com/sliders/demo-5/data1/images/road_forest_trees_tree_trip_nature_leaves_season.jpg\" height='100'/>\n    <img src=\"https://media-mediatemple.netdna-ssl.com/wp-content/uploads/2016/01/07-responsive-image-example-castle-7-opt.jpg\" height='100'/>\n    <img src=\"http://joombig.com/demo-extensions1/images/gallery_slider/Swan_large.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n    Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":523,"y":58,"wires":[["5992ec5a.4f8674"]]},{"id":"f732df7d.1bd5c","type":"http in","z":"a998d52d.b1a658","name":"","url":"/alchvision","method":"get","swaggerDoc":"","x":85,"y":72,"wires":[["2721c0d6.42467"]]},{"id":"5992ec5a.4f8674","type":"http response","z":"a998d52d.b1a658","name":"HTTP Response","x":793,"y":141,"wires":[]},{"id":"2721c0d6.42467","type":"switch","z":"a998d52d.b1a658","name":"Check image url","property":"payload.imageurl","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":214,"y":141,"wires":[["2c5c3f26.fd538"],["d86fa146.6c98c"]]},{"id":"79307905.6398e8","type":"template","z":"a998d52d.b1a658","name":"Report Faces","field":"payload","format":"html","template":"<h1>Alchemy Image Analysis</h1>\n<p>Analyzed image: {{payload}}<br/><img id=\"alchemy_image\" src=\"{{payload}}\" height=\"50\"/></p>\n{{^result}}\n<P>No Face detected</P>\n{{/result}}\n<table border='1'>\n    <thead><tr><th>Age Range</th><th>Score</th><th>Gender</th><th>Score</th><th>Name</th></tr></thead>\n    {{#result}}<tr>\n        <td><b>{{age.ageRange}}</b></td><td><i>{{age.score}}</i></td>\n        <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n        {{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n    </tr>{{/result}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>","x":624,"y":231,"wires":[["5992ec5a.4f8674"]]},{"id":"d86fa146.6c98c","type":"change","z":"a998d52d.b1a658","name":"Extract img URL","rules":[{"t":"set","p":"payload","to":"msg.payload.imageurl"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":237,"wires":[["e3fa517b.762f5"]]},{"id":"e3fa517b.762f5","type":"alchemy-image-analysis","z":"a998d52d.b1a658","name":"","apikey":"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX","image-feature":"imageFaces","x":477,"y":297,"wires":[["79307905.6398e8"]]},{"id":"26937545.beb2aa","type":"comment","z":"a998d52d.b1a658","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy Image Analysis Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_api_image_analysis)","x":115,"y":20,"wires":[]},{"id":"fc4fa45e.775078","type":"comment","z":"150e1f6b.17a5d1","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy API Feature Extract Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_api_feature_extraction)","x":115,"y":20,"wires":[]},{"id":"8ab1fc53.d520a","type":"comment","z":"f44213e0.6b0cc","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Tone Analyser Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/tone_analyser)\n","x":115,"y":20,"wires":[]},{"id":"236428ee.1d8f78","type":"comment","z":"3665fcd.f4a2004","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Concept Insights Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/concept_insights)\n","x":115,"y":20,"wires":[]},{"id":"63e0a326.8cb08c","type":"debug","z":"169f5448.846cac","name":"Identified Language","active":true,"console":"false","complete":"lang","x":550,"y":61,"wires":[]},{"id":"3405f68a.28af9a","type":"watson-language-identification","z":"169f5448.846cac","name":"Identify Language","x":307,"y":61,"wires":[["63e0a326.8cb08c"]]},{"id":"a9cc894a.a6b968","type":"inject","z":"169f5448.846cac","name":"Inject some text","topic":"","payload":"hallo dit is een test","payloadType":"string","repeat":"","crontab":"","once":false,"x":85,"y":61,"wires":[["3405f68a.28af9a"]]},{"id":"b93aa721.2698c8","type":"comment","z":"169f5448.846cac","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Langage Identification](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/language_identification)\n","x":115,"y":20,"wires":[]},{"id":"d1f67382.be98d","type":"comment","z":"da45fc3a.420a7","name":"Training Mode","info":"The example below is used to use the new Training feature of the Language Translation service.","x":77.5,"y":145,"wires":[]},{"id":"bc454940.02f258","type":"comment","z":"da45fc3a.420a7","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Langage Translation Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/language_translation)\n","x":115,"y":20,"wires":[]},{"id":"675754d0.0ee91c","type":"comment","z":"a73b6354.5d21e","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Natural Language Classifier](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/natural_language_classifier)\n","x":115,"y":20,"wires":[]},{"id":"9aaa5f52.2432e","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":92,"y":79,"wires":[["2d83f073.7e22b"]]},{"id":"daa1c6b9.de5ee8","type":"inject","z":"a73b6354.5d21e","name":"Ask","topic":"","payload":"Is it hot ?","payloadType":"string","repeat":"","crontab":"","once":false,"x":92,"y":137,"wires":[["b09c6aa7.87ae48"]]},{"id":"2d83f073.7e22b","type":"function","z":"a73b6354.5d21e","name":"get NLC status","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530\";\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":78,"wires":[["d279fe20.52d0d"]]},{"id":"b09c6aa7.87ae48","type":"function","z":"a73b6354.5d21e","name":"Ask NLC question","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530/classify?text=\" + encodeURI(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":136,"wires":[["d279fe20.52d0d"]]},{"id":"d279fe20.52d0d","type":"http request","z":"a73b6354.5d21e","name":"","method":"GET","ret":"txt","url":"","x":494,"y":100,"wires":[["f0b8935d.9e4c3"]]},{"id":"f0b8935d.9e4c3","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":703,"y":102,"wires":[]},{"id":"5f0d0c40.8a6384","type":"comment","z":"322f3382.26e20c","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Personality Insights](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/personality_insights)\n","x":115,"y":20,"wires":[]},{"id":"e5cb21bb.c3f1b","type":"watson-personality-insights","z":"322f3382.26e20c","name":"","x":277,"y":77,"wires":[["3e886601.858f3a"]]},{"id":"ab06d412.025488","type":"inject","z":"322f3382.26e20c","name":"","topic":"","payload":"Vice President Johnson, Mr. Speaker, Mr. Chief Justice, President Eisenhower, Vice President Nixon, President Truman, Reverend Clergy, fellow citizens:        We observe today not a victory of party but a celebration of freedom--symbolizing an end as well as a beginning--signifying renewal as well as change. For I have sworn before you and Almighty God the same solemn oath our forbears prescribed nearly a century and three-quarters ago.       The world is very different now. For man holds in his mortal hands the power to abolish all forms of human poverty and all forms of human life. And yet the same revolutionary beliefs for which our forebears fought are still at issue around the globe--the belief that the rights of man come not from the generosity of the state but from the hand of God.       We dare not forget today that we are the heirs of that first revolution. Let the word go forth from this time and place, to friend and foe alike, that the torch has been passed to a new generation of Americans--born in this century, tempered by war, disciplined by a hard and bitter peace, proud of our ancient heritage--and unwilling to witness or permit the slow undoing of those human rights to which this nation has always been committed, and to which we are committed today at home and around the world.       Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.       This much we pledge--and more.       To those old allies whose cultural and spiritual origins we share, we pledge the loyalty of faithful friends. United there is little we cannot do in a host of cooperative ventures. Divided there is little we can do--for we dare not meet a powerful challenge at odds and split asunder.       To those new states whom we welcome to the ranks of the free, we pledge our word that one form of colonial control shall not have passed away merely to be replaced by a far more iron tyranny. We shall not always expect to find them supporting our view. But we shall always hope to find them strongly supporting their own freedom--and to remember that, in the past, those who foolishly sought power by riding the back of the tiger ended up inside.       To those people in the huts and villages of half the globe struggling to break the bonds of mass misery, we pledge our best efforts to help them help themselves, for whatever period is required--not because the communists may be doing it, not because we seek their votes, but because it is right. If a free society cannot help the many who are poor, it cannot save the few who are rich.       To our sister republics south of our border, we offer a special pledge--to convert our good words into good deeds--in a new alliance for progress--to assist free men and free governments in casting off the chains of poverty. But this peaceful revolution of hope cannot become the prey of hostile powers. Let all our neighbors know that we shall join with them to oppose aggression or subversion anywhere in the Americas. And let every other power know that this Hemisphere intends to remain the master of its own house.       To that world assembly of sovereign states, the United Nations, our last best hope in an age where the instruments of war have far outpaced the instruments of peace, we renew our pledge of support--to prevent it from becoming merely a forum for invective--to strengthen its shield of the new and the weak--and to enlarge the area in which its writ may run.       Finally, to those nations who would make themselves our adversary, we offer not a pledge but a request: that both sides begin anew the quest for peace, before the dark powers of destruction unleashed by science engulf all humanity in planned or accidental self-destruction.       We dare not tempt them with weakness. For only when our arms are sufficient beyond doubt can we be certain beyond doubt that they will never be employed.       But neither can two great and powerful groups of nations take comfort from our present course--both sides overburdened by the cost of modern weapons, both rightly alarmed by the steady spread of the deadly atom, yet both racing to alter that uncertain balance of terror that stays the hand of mankind's final war.       So let us begin anew--remembering on both sides that civility is not a sign of weakness, and sincerity is always subject to proof. Let us never negotiate out of fear. But let us never fear to negotiate.       Let both sides explore what problems unite us instead of belaboring those problems which divide us.       Let both sides, for the first time, formulate serious and precise proposals for the inspection and control of arms--and bring the absolute power to destroy other nations under the absolute control of all nations.       Let both sides seek to invoke the wonders of science instead of its terrors. Together let us explore the stars, conquer the deserts, eradicate disease, tap the ocean depths and encourage the arts and commerce.       Let both sides unite to heed in all corners of the earth the command of Isaiah--to \"undo the heavy burdens . . . (and) let the oppressed go free.\"       And if a beachhead of cooperation may push back the jungle of suspicion, let both sides join in creating a new endeavor, not a new balance of power, but a new world of law, where the strong are just and the weak secure and the peace preserved.       All this will not be finished in the first one hundred days. Nor will it be finished in the first one thousand days, nor in the life of this Administration, nor even perhaps in our lifetime on this planet. But let us begin.       In your hands, my fellow citizens, more than mine, will rest the final success or failure of our course. Since this country was founded, each generation of Americans has been summoned to give testimony to its national loyalty. The graves of young Americans who answered the call to service surround the globe.       Now the trumpet summons us again--not as a call to bear arms, though arms we need--not as a call to battle, though embattled we are-- but a call to bear the burden of a long twilight struggle, year in and year out, \"rejoicing in hope, patient in tribulation\"--a struggle against the common enemies of man: tyranny, poverty, disease and war itself.       Can we forge against these enemies a grand and global alliance, North and South, East and West, that can assure a more fruitful life for all mankind? Will you join in that historic effort?       In the long history of the world, only a few generations have been granted the role of defending freedom in its hour of maximum danger. I do not shrink from this responsibility--I welcome it. I do not believe that any of us would exchange places with any other people or any other generation. The energy, the faith, the devotion which we bring to this endeavor will light our country and all who serve it--and the glow from that fire can truly light the world.       And so, my fellow Americans: ask not what your country can do for you--ask what you can do for your country.       My fellow citizens of the world: ask not what America will do for you, but what together we can do for the freedom of man.       Finally, whether you are citizens of America or citizens of the world, ask of us here the same high standards of strength and sacrifice which we ask of you. With a good conscience our only sure reward, with history the final judge of our deeds, let us go forth to lead the land we love, asking His blessing and His help, but knowing that here on earth God's work must truly be our own. ","payloadType":"string","repeat":"","crontab":"","once":false,"x":89,"y":78,"wires":[["e5cb21bb.c3f1b"]]},{"id":"3e886601.858f3a","type":"debug","z":"322f3382.26e20c","name":"","active":true,"console":"true","complete":"insights","x":474,"y":77,"wires":[]},{"id":"f4b05a9f.1fe3c8","type":"comment","z":"99ccde8b.e0dcf","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Speech to Text](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/speech_to_text)\n","x":115,"y":20,"wires":[]},{"id":"76aefcef.533634","type":"comment","z":"5f012eda.93f3d","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Text to Speech](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/text_to_speech)\n","x":115,"y":20,"wires":[]},{"id":"343c3ebb.c6b482","type":"comment","z":"323ee091.8c83e","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Tradeoff Analytics Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/tradeoff_analytics)\n","x":115,"y":20,"wires":[]},{"id":"24ee058e.86dc2a","type":"change","z":"5f012eda.93f3d","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"},{"t":"set","p":"text_to_say","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":368,"y":81,"wires":[["e5d1df49.9494f"]]},{"id":"87ab6442.f98b28","type":"http in","z":"5f012eda.93f3d","name":"","url":"/talk","method":"get","swaggerDoc":"","x":69,"y":302,"wires":[["a33c230f.65dff"]]},{"id":"a33c230f.65dff","type":"switch","z":"5f012eda.93f3d","name":"check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":231,"y":301,"wires":[["d2757e1b.17f3e"],["3a98d0a7.fa7c"]]},{"id":"3a98d0a7.fa7c","type":"template","z":"5f012eda.93f3d","name":"GetTextToSay","field":"payload","format":"html","template":"<h1>Enter text to Say</h1>\n<form action=\"{{req._parsedUrl.pathname}}\" method=\"get\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n    <input type=\"submit\" value=\"Say it!\"/>\n</form>","x":446,"y":326,"wires":[["1ec0a81b.dd1b88"]]},{"id":"1ec0a81b.dd1b88","type":"http response","z":"5f012eda.93f3d","name":"Reply","x":651,"y":295,"wires":[]},{"id":"d2757e1b.17f3e","type":"template","z":"5f012eda.93f3d","name":"Generate Reply","field":"payload","format":"html","template":"<h1>You want to say</h1>\n<p><q>{{payload}}</q></p>\n<p>Hear it:</p>\n<audio controls autoplay>\n  <source src=\"{{req._parsedUrl.pathname}}/sayit?text_to_say={{payload.text_to_say}}\" type=\"audio/wav\">\nYour browser does not support the audio element.\n</audio>\n<p>Thanks!</p>\n<form action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n    <input type=\"submit\" value=\"Try Again\" />\n</form>","x":446,"y":270,"wires":[["1ec0a81b.dd1b88"]]},{"id":"bdb18882.aa5668","type":"http in","z":"5f012eda.93f3d","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":87,"y":76,"wires":[["196ce77a.7a3da9"]]},{"id":"e41fc54f.bb7f58","type":"http response","z":"5f012eda.93f3d","name":"Reply Speech binary","x":773,"y":166,"wires":[]},{"id":"e5d1df49.9494f","type":"watson-text-to-speech","z":"5f012eda.93f3d","name":"","lang":"english","voice":"en-US_AllisonVoice","x":548,"y":80,"wires":[["7d2467d.54fcc98"]]},{"id":"196ce77a.7a3da9","type":"switch","z":"5f012eda.93f3d","name":"Check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":202,"y":129,"wires":[["24ee058e.86dc2a"],["e16ef042.d9d6b"]]},{"id":"e16ef042.d9d6b","type":"template","z":"5f012eda.93f3d","name":"Error","field":"payload","format":"handlebars","template":"<h1>\nError:    No f or text_to_say query parameter\n</h1>","x":342,"y":164,"wires":[["e41fc54f.bb7f58"]]},{"id":"7d2467d.54fcc98","type":"change","z":"5f012eda.93f3d","name":"Speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"}],"action":"","property":"","from":"","to":"","reg":false,"x":739,"y":80,"wires":[["489871c.e200a9"]]},{"id":"489871c.e200a9","type":"function","z":"5f012eda.93f3d","name":"Set headers","func":"// Set the content type to audio wave\nvar wavFileName=msg.text_to_say.replace(' ','_');\nif(wavFileName.length>32) {\n    wavFileName=wavFileName.substr(0,32);\n}\nvar attch='attachment; filename='+encodeURIComponent(wavFileName+'.wav');\nmsg.headers={ 'Content-Type': 'audio/wav',\n              'Content-Disposition': attch};\n\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":132,"wires":[["e41fc54f.bb7f58"]]},{"id":"cb847d2d.0ad25","type":"comment","z":"f44213e0.6b0cc","name":"Make sure you bind Tone Analyser Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Tone Analyser Service has to be bound to the Node-RED application.\n","x":652,"y":20,"wires":[]},{"id":"6d164193.2a86f","type":"comment","z":"3665fcd.f4a2004","name":"Make sure you bind Concept Insights Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Concept Insights Service has to be bound to the Node-RED application.\n","x":606,"y":20,"wires":[]},{"id":"e6f40506.cd2278","type":"comment","z":"150e1f6b.17a5d1","name":"Make sure you bind Alchemy API Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the IBM Alchemy API Service has to be bound to the Node-RED application.\n","x":636,"y":20,"wires":[]},{"id":"8b421819.8cf878","type":"comment","z":"a998d52d.b1a658","name":"Make sure you bind Alchemy API Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the IBM Alchemy API Service has to be bound to the Node-RED application.\n","x":574,"y":20,"wires":[]},{"id":"2ba3ec4d.1f8414","type":"comment","z":"169f5448.846cac","name":"Make sure you bind Langage Translation Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Language Translation Service has to be bound to the Node-RED application.\n","x":571,"y":20,"wires":[]},{"id":"6de5a343.bf2b4c","type":"comment","z":"da45fc3a.420a7","name":"Make sure you bind Langage Translation Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Language Translation Service has to be bound to the Node-RED application.\n","x":589,"y":20,"wires":[]},{"id":"1b36e3a3.a0453c","type":"comment","z":"a73b6354.5d21e","name":"Make sure you bind Natural Language Classifier Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Natural Langage Classifier Service has to be bound to the Node-RED application.\n","x":586,"y":20,"wires":[]},{"id":"4dba0fe7.a1054","type":"comment","z":"322f3382.26e20c","name":"Make sure you bind Personality Insights Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Personality Insights Service has to be bound to the Node-RED application.\n","x":575,"y":20,"wires":[]},{"id":"bd7277ec.bc5558","type":"comment","z":"99ccde8b.e0dcf","name":"Make sure you bind Speech to Text Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Speech to Text Service has to be bound to the Node-RED application.\n","x":615,"y":20,"wires":[]},{"id":"7f3bb646.075988","type":"comment","z":"5f012eda.93f3d","name":"Make sure you bind Text to Speech Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Text to Speech Service has to be bound to the Node-RED application.\n","x":640,"y":20,"wires":[]},{"id":"d400ce2b.376db","type":"comment","z":"323ee091.8c83e","name":"Make sure you bind Tradeoff Analytics Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Tradeoff Analytics Service has to be bound to the Node-RED application.\n","x":635,"y":20,"wires":[]},{"id":"2f1c669b.55966a","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Train","mode":"create","language":"en","classifier":"","x":476,"y":314,"wires":[["64cc189.a9c69e8"]]},{"id":"850a59b8.e7a268","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Create","payloadType":"str","repeat":"","crontab":"","once":false,"x":89,"y":263,"wires":[["9d0ffeec.3f332"]]},{"id":"64cc189.a9c69e8","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":749,"y":312,"wires":[]},{"id":"9d0ffeec.3f332","type":"dropbox","z":"a73b6354.5d21e","dropbox":"","filename":"weather_data_train.csv","name":"","x":256,"y":311,"wires":[["2f1c669b.55966a"]]},{"id":"4be54e6e.841bf","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Get List","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":380,"wires":[["3542e5cd.462dea"]]},{"id":"3542e5cd.462dea","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"List","mode":"list","language":"en","classifier":"","x":462,"y":376,"wires":[["1ef35608.15f3da"]]},{"id":"1ef35608.15f3da","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":738,"y":380,"wires":[]},{"id":"c02f9bf5.cbafe8","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Classify","mode":"classify","language":"en","classifier":"f1704ex55-nlc-488","x":460,"y":447,"wires":[["d7083bce.9405c8"]]},{"id":"9afc6806.52b9b8","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Is it hot?","payloadType":"str","repeat":"","crontab":"","once":false,"x":96,"y":434,"wires":[["c02f9bf5.cbafe8"]]},{"id":"d7083bce.9405c8","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":738,"y":451,"wires":[]},{"id":"45566d25.5773f4","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"f15e67x54-nlc-454","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":518,"wires":[["17aa027b.895f3e"]]},{"id":"17aa027b.895f3e","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Remove","mode":"remove","language":"en","classifier":"","x":458,"y":524,"wires":[["1d26141a.3b705c"]]},{"id":"1d26141a.3b705c","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":735,"y":520,"wires":[]},{"id":"4ea24d53.f78b54","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Is it humid?","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":469,"wires":[["c02f9bf5.cbafe8"]]},{"id":"482e0027.a12d1","type":"inject","z":"323ee091.8c83e","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":61,"y":81,"wires":[["4109c752.7eab88"]]},{"id":"4109c752.7eab88","type":"function","z":"323ee091.8c83e","name":"Prepare Request","func":"msg = {\n  \"payload\": \"phone\",\n  \"columns\": [\n    {\n      \"key\": \"price\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Price\",\n      \"is_objective\": true,\n      \"format\": \"€####0.00\"\n    },\n    {\n      \"key\": \"brand\",\n      \"type\": \"categorical\",\n      \"goal\": \"min\",\n      \"full_name\": \"Brand\",\n      \"is_objective\": true,\n      \"range\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ],\n      \"preference\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ]\n    },\n    {\n      \"key\": \"RAM\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"RAM (MB)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"screen_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Screen (inch)\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"camera\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Camera\",\n      \"is_objective\": false,\n      \"format\": \"####0 MP\"\n    },\n    {\n      \"key\": \"memory_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Memory\",\n      \"is_objective\": false,\n      \"format\": \"####0 GB\"\n    },\n    {\n      \"key\": \"battery\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Battery (mAh)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"weight\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Weight\",\n      \"is_objective\": true,\n      \"format\": \"####0 g\"\n    },\n    {\n      \"key\": \"rDate\",\n      \"type\": \"datetime\",\n      \"goal\": \"max\",\n      \"full_name\": \"Release Date\",\n      \"is_objective\": false\n    }\n  ],\n  \"options\": [\n    {\n      \"key\": \" 1\",\n      \"name\": \"Samsung Galaxy S4 White\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Samsung_GALAXY_S4_zoom_%28White%29.jpg/800px-Samsung_GALAXY_S4_zoom_%28White%29.jpg'/> <a title='Photo by Samsung Belgium (Flickr: GALAXY S4 zoom (1)) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_GALAXY_S4_zoom_(White).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"2\",\n      \"name\": \"Samsung Galaxy S4 Black\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Samsung_Galaxy_S4.jpg/200px-Samsung_Galaxy_S4.jpg'/><a title='Photo by Karlis Dambrans (Flickr: Samsung Galaxy S4) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S4.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"3\",\n      \"name\": \"Samsung Galaxy S3 White\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Samsung_Galaxy_S_III.png/300px-Samsung_Galaxy_S_III.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"4\",\n      \"name\": \"Samsung Galaxy S3 Blue\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Samsung_Galaxy_S_Advance_i9070.JPG/250px-Samsung_Galaxy_S_Advance_i9070.JPG'/> <a title='Photo by Macs79 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_Advance_i9070.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"5\",\n      \"name\": \"Samsung Galaxy S3 mini White\",\n      \"values\": {\n        \"weight\": 111,\n        \"price\": 299,\n        \"RAM\": 1024,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-10-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Samsung_Galaxy_S_III_mini.png/300px-Samsung_Galaxy_S_III_mini.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III_mini.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"6\",\n      \"name\": \"Apple iPhone 5 White\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/IPhone5white.png/228px-IPhone5white.png'/> <a title='Photo by Pixeden.com [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone5white.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"7\",\n      \"name\": \"Apple iPhone 5 Black\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/IPhone_5.png/300px-IPhone_5.png'/> <a title='Photo by Zach Vega (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone_5.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"9\",\n      \"name\": \"HTC One\",\n      \"values\": {\n        \"weight\": 143,\n        \"price\": 189,\n        \"RAM\": 2048,\n        \"battery\": 2300,\n        \"camera\": 4,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"HTC\",\n        \"rDate\": \"2013-03-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/HTC_One.png/149px-HTC_One.png'/> <a title='Photo by M0rphzone (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:HTC_One.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"10\",\n      \"name\": \"LG Optimus G\",\n      \"values\": {\n        \"weight\": 145,\n        \"price\": 189,\n        \"RAM\": 1024,\n        \"battery\": 2100,\n        \"camera\": 13,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"LG\",\n        \"rDate\": \"2012-09-19T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/LG_Optimus_G_%28Black%29.jpg/330px-LG_Optimus_G_%28Black%29.jpg'/> <a title='[CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:LG_Optimus_G_(Black).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"11\",\n      \"name\": \"Nokia Lumia 520\",\n      \"values\": {\n        \"weight\": 124,\n        \"price\": 199,\n        \"RAM\": 512,\n        \"battery\": 1430,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Nokia\",\n        \"rDate\": \"2013-02-25T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Lumia_520.jpg/450px-Lumia_520.jpg'/> <a title='Photo by Krby Dambrns from Latvia (MWC Barcelona 2013 260  Uploaded by RaviC) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Lumia_520.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"13\",\n      \"name\": \"Samsung Galaxy Ace 2 Black\",\n      \"values\": {\n        \"weight\": 122,\n        \"price\": 220,\n        \"RAM\": 768,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 4,\n        \"screen_size\": 3.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Front_Ace_2.JPG/330px-Front_Ace_2.JPG'/> <a title='Photo by Fan samsung ace2 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Front_Ace_2.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"14\",\n      \"name\": \"Samsung Galaxy Mini 2 Black\",\n      \"values\": {\n        \"weight\": 105,\n        \"price\": 220,\n        \"RAM\": 512,\n        \"battery\": 1300,\n        \"camera\": 3.15,\n        \"memory_size\": 4,\n        \"screen_size\": 3.27,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/GT-S6500L.jpg/375px-GT-S6500L.jpg'/> <a title='Photo by Eriqvaldezz (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:GT-S6500L.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"15\",\n      \"name\": \"Sony Xperia P Silver\",\n      \"values\": {\n        \"weight\": 120,\n        \"price\": 255,\n        \"RAM\": 1024,\n        \"battery\": 1305,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4,\n        \"brand\": \"Sony\",\n        \"rDate\": \"2012-02-27T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Xperia_P.jpg/330px-Xperia_P.jpg'/> <a title='Photo by vsy (http://www.flickr.com/photos/vsy/7176314726/) [CC BY-SA 2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Xperia_P.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    }\n  ]\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":81,"wires":[["ed41bfd4.94b08"]]},{"id":"ed41bfd4.94b08","type":"watson-tradeoff-analytics","z":"323ee091.8c83e","name":"","x":467,"y":81,"wires":[["15177298.f485ad"]]},{"id":"15177298.f485ad","type":"debug","z":"323ee091.8c83e","name":"","active":true,"console":"false","complete":"resolution","x":681,"y":81,"wires":[]},{"id":"a5ef424d.c9746","type":"comment","z":"ffc20fff.55777","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Document Conversion](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/document_conversion)\n","x":115,"y":22,"wires":[]},{"id":"a48dddb5.60f81","type":"comment","z":"ffc20fff.55777","name":"Make sure you bind Document Conversion Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Document Conversion Service has to be bound to the Node-RED application.\n","x":593,"y":20,"wires":[]},{"id":"2562bf51.328f7","type":"inject","z":"99ccde8b.e0dcf","name":".wav URL","topic":"","payload":"https://github.com/watson-developer-cloud/node-red-labs/blob/master/basic_examples/speech_to_text/audio_message.wav","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":81,"wires":[["5a798789.61ea58"]]},{"id":"5a798789.61ea58","type":"watson-speech-to-text","z":"99ccde8b.e0dcf","name":"","lang":"en-US","band":"BroadbandModel","x":315,"y":81,"wires":[["78a4da06.2d6354"]]},{"id":"78a4da06.2d6354","type":"debug","z":"99ccde8b.e0dcf","name":"","active":true,"console":"false","complete":"transcription","x":565,"y":81,"wires":[]},{"id":"478d31b7.8a13c","type":"inject","z":"99ccde8b.e0dcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":139,"wires":[["cefc692f.183788"]]},{"id":"cefc692f.183788","type":"dropbox","z":"99ccde8b.e0dcf","dropbox":"","filename":"SpaceShuttle.wav","name":"Dropbox","x":300,"y":139,"wires":[["4dbfd43a.39b9ec"]]},{"id":"4dbfd43a.39b9ec","type":"watson-speech-to-text","z":"99ccde8b.e0dcf","name":"","lang":"en-US","band":"BroadbandModel","x":520,"y":139,"wires":[["a8842e6.81376d"]]},{"id":"a8842e6.81376d","type":"debug","z":"99ccde8b.e0dcf","name":"","active":true,"console":"false","complete":"transcription","x":770,"y":139,"wires":[]},{"id":"7340c843.1562e8","type":"comment","z":"a207df14.8f7cc","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy API Data News Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_data_news)\n","x":115,"y":20,"wires":[]},{"id":"217536fc.d0cb6a","type":"convert","z":"ffc20fff.55777","name":"","target":"NORMALIZED_TEXT","username":"","password":"","service":"_ext_","x":593,"y":74,"wires":[["b0183b44.c3da88"]]},{"id":"b0183b44.c3da88","type":"debug","z":"ffc20fff.55777","name":"plain text","active":true,"console":"false","complete":"payload","x":792,"y":74,"wires":[]},{"id":"ef8b8952.b47408","type":"function","z":"ffc20fff.55777","name":"document location & options","func":"msg = {\n    payload: 'https://www.ibm.com/developerworks/community/blogs/efc1d8f5-72e5-4c4f-99df-e74fccea10ca/resource/White%20Papers/IBMWatsonNextGenerationofCognitiveSystemswhitepaper.pdf?lang=en',\n    pdf: {\n        \"heading\": {\n            \"fonts\": [\n                {\"level\": 1, \"min_size\": 24, \"max_size\": 80},\n                {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": false, \"italic\": false},\n                {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": true},\n                {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": false, \"italic\": false},\n                {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": true},\n                {\"level\": 4, \"min_size\": 11, \"max_size\": 13, \"bold\": true, \"italic\": false}\n            ]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":74,"wires":[["217536fc.d0cb6a"]]},{"id":"99e01a91.c86168","type":"inject","z":"ffc20fff.55777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":65,"y":74,"wires":[["ef8b8952.b47408"]]},{"id":"c46380b1.c7126","type":"inject","z":"a207df14.8f7cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":64,"wires":[["510210bb.cc009"]]},{"id":"510210bb.cc009","type":"news","z":"a207df14.8f7cc","name":"","service":"_ext_","key":"","start":"04/01/2016","end":"04/30/2016","query":"q.enriched.url.title=A[IBM^Watson]","custom":true,"queries":[{"field":"enriched.url.title","op":"cc","value":"Ronaldo"},{"field":"enriched.url.taxonomy.taxonomy_.label","op":"cc","value":"sport"}],"results":["original.url","enriched.url.title"],"max":10,"mode":"json","x":297,"y":64,"wires":[["74508465.015dac"]]},{"id":"74508465.015dac","type":"debug","z":"a207df14.8f7cc","name":"","active":true,"console":"false","complete":"false","x":507,"y":63.5,"wires":[]},{"id":"8409ae6f.66551","type":"template","z":"323ee091.8c83e","name":"Widget Page","field":"payload","format":"html","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no\">\n    <title>Node-RED TradeOff Analytics Widget demo</title>\n    <script type=\"text/javascript\" src=\"http://ta-cdn.mybluemix.net/v1/TradeoffAnalytics.js\"></script>\n    <script>\n    // get the problem object from Node-RED msg.problem\n    // note the triple-curly braces syntax to avoid HTML escaping\n    var problemObj={{{problem}}};\n    \n    // prepare client\n    var taClient;\n    \n    function loadTradeoffAnalytics() {\n\t\tdocument.body.style.cursor=\"wait\" ;\n        taClient = new TradeoffAnalytics(\n            {dilemmaServiceUrl: '{{{req._parsedUrl.pathname}}}/dilemmas',\n             analyticsEventsUrl: '{{{req._parsedUrl.pathname}}}/events'\n            }, \n            'tofaWidget');\n        taClient.start(onTAReady);\n    }\n\n    // this is called-back when the widget is ready\n    function onTAReady() {\n        taClient.show(problemObj, onTAShown);\n    }\n\n    // this is called-back when the problem has shown in the widget\n    function onTAShown() {\n\t\tdocument.body.style.cursor=\"default\";\n        taClient.resize();\n    }\n    \n    // trigger the tofa widget setup when window has loaded\n\twindow.onload=loadTradeoffAnalytics;\n</script>\n</head>\n\n<body>\n    <div id=\"tofaWidget\" style=\"height:100vh\"></div>\n</body>\n</html>","x":525,"y":233,"wires":[["4476dba8.91e544"]]},{"id":"1198b7d4.a54968","type":"http in","z":"323ee091.8c83e","name":"","url":"/tofaw","method":"get","swaggerDoc":"","x":97,"y":247,"wires":[["6bc96b8e.6db924"]]},{"id":"4476dba8.91e544","type":"http response","z":"323ee091.8c83e","name":"","x":753,"y":234,"wires":[]},{"id":"167db102.5a459f","type":"http in","z":"323ee091.8c83e","name":"","url":"/tofaw/dilemmas","method":"post","swaggerDoc":"","x":139,"y":369,"wires":[["e886c9de.cfd1d8"]]},{"id":"26a99d0c.2ae362","type":"http response","z":"323ee091.8c83e","name":"","x":772,"y":366,"wires":[]},{"id":"8c984deb.a56fa","type":"watson-tradeoff-analytics","z":"323ee091.8c83e","name":"","x":480,"y":364,"wires":[["6d4ceb5f.3caaf4"]]},{"id":"e886c9de.cfd1d8","type":"change","z":"323ee091.8c83e","name":"","rules":[{"t":"set","p":"subject","to":"msg.payload.subject"},{"t":"set","p":"columns","to":"msg.payload.columns"},{"t":"set","p":"options","to":"msg.payload.options"},{"t":"set","p":"problem","to":"msg.payload"},{"t":"set","p":"payload","to":"msg.payload.subject"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":448,"wires":[["8c984deb.a56fa"]]},{"id":"6d4ceb5f.3caaf4","type":"change","z":"323ee091.8c83e","name":"","rules":[{"t":"delete","p":"payload"},{"t":"set","p":"payload.problem","to":"msg.problem"},{"t":"set","p":"payload.resolution","to":"msg.resolution"}],"action":"","property":"","from":"","to":"","reg":false,"x":633,"y":457,"wires":[["26a99d0c.2ae362"]]},{"id":"6bc96b8e.6db924","type":"function","z":"323ee091.8c83e","name":"Set Problem","func":"// This is where we set the dimensions (columns) of the problem to analyze\n// and the raw data (options)\nvar problem = {\n  \"subject\": \"phone\",\n  \"columns\": [\n    {\n      \"key\": \"price\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Price\",\n      \"is_objective\": true,\n      \"format\": \"####0.00\"\n    },\n    {\n      \"key\": \"brand\",\n      \"type\": \"categorical\",\n      \"goal\": \"min\",\n      \"full_name\": \"Brand\",\n      \"is_objective\": true,\n      \"range\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ],\n      \"preference\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ]\n    },\n    {\n      \"key\": \"RAM\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"RAM (MB)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"screen_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Screen (inch)\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"camera\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Camera\",\n      \"is_objective\": false,\n      \"format\": \"####0 MP\"\n    },\n    {\n      \"key\": \"memory_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Memory\",\n      \"is_objective\": false,\n      \"format\": \"####0 GB\"\n    },\n    {\n      \"key\": \"battery\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Battery (mAh)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"weight\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Weight\",\n      \"is_objective\": true,\n      \"format\": \"####0 g\"\n    },\n    {\n      \"key\": \"rDate\",\n      \"type\": \"datetime\",\n      \"goal\": \"max\",\n      \"full_name\": \"Release Date\",\n      \"is_objective\": false\n    }\n  ],\n  \"options\": [\n    {\n      \"key\": \" 1\",\n      \"name\": \"Samsung Galaxy S4 White\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Samsung_GALAXY_S4_zoom_%28White%29.jpg/800px-Samsung_GALAXY_S4_zoom_%28White%29.jpg'/> <a title='Photo by Samsung Belgium (Flickr: GALAXY S4 zoom (1)) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_GALAXY_S4_zoom_(White).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"2\",\n      \"name\": \"Samsung Galaxy S4 Black\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Samsung_Galaxy_S4.jpg/200px-Samsung_Galaxy_S4.jpg'/><a title='Photo by Karlis Dambrans (Flickr: Samsung Galaxy S4) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S4.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"3\",\n      \"name\": \"Samsung Galaxy S3 White\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Samsung_Galaxy_S_III.png/300px-Samsung_Galaxy_S_III.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"4\",\n      \"name\": \"Samsung Galaxy S3 Blue\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Samsung_Galaxy_S_Advance_i9070.JPG/250px-Samsung_Galaxy_S_Advance_i9070.JPG'/> <a title='Photo by Macs79 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_Advance_i9070.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"5\",\n      \"name\": \"Samsung Galaxy S3 mini White\",\n      \"values\": {\n        \"weight\": 111,\n        \"price\": 299,\n        \"RAM\": 1024,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-10-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Samsung_Galaxy_S_III_mini.png/300px-Samsung_Galaxy_S_III_mini.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III_mini.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"6\",\n      \"name\": \"Apple iPhone 5 White\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/IPhone5white.png/228px-IPhone5white.png'/> <a title='Photo by Pixeden.com [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone5white.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"7\",\n      \"name\": \"Apple iPhone 5 Black\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/IPhone_5.png/300px-IPhone_5.png'/> <a title='Photo by Zach Vega (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone_5.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"9\",\n      \"name\": \"HTC One\",\n      \"values\": {\n        \"weight\": 143,\n        \"price\": 189,\n        \"RAM\": 2048,\n        \"battery\": 2300,\n        \"camera\": 4,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"HTC\",\n        \"rDate\": \"2013-03-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/HTC_One.png/149px-HTC_One.png'/> <a title='Photo by M0rphzone (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:HTC_One.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"10\",\n      \"name\": \"LG Optimus G\",\n      \"values\": {\n        \"weight\": 145,\n        \"price\": 189,\n        \"RAM\": 1024,\n        \"battery\": 2100,\n        \"camera\": 13,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"LG\",\n        \"rDate\": \"2012-09-19T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/LG_Optimus_G_%28Black%29.jpg/330px-LG_Optimus_G_%28Black%29.jpg'/> <a title='[CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:LG_Optimus_G_(Black).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"11\",\n      \"name\": \"Nokia Lumia 520\",\n      \"values\": {\n        \"weight\": 124,\n        \"price\": 199,\n        \"RAM\": 512,\n        \"battery\": 1430,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Nokia\",\n        \"rDate\": \"2013-02-25T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Lumia_520.jpg/450px-Lumia_520.jpg'/> <a title='Photo by Krby Dambrns from Latvia (MWC Barcelona 2013 260  Uploaded by RaviC) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Lumia_520.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"13\",\n      \"name\": \"Samsung Galaxy Ace 2 Black\",\n      \"values\": {\n        \"weight\": 122,\n        \"price\": 220,\n        \"RAM\": 768,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 4,\n        \"screen_size\": 3.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Front_Ace_2.JPG/330px-Front_Ace_2.JPG'/> <a title='Photo by Fan samsung ace2 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Front_Ace_2.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"14\",\n      \"name\": \"Samsung Galaxy Mini 2 Black\",\n      \"values\": {\n        \"weight\": 105,\n        \"price\": 220,\n        \"RAM\": 512,\n        \"battery\": 1300,\n        \"camera\": 3.15,\n        \"memory_size\": 4,\n        \"screen_size\": 3.27,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/GT-S6500L.jpg/375px-GT-S6500L.jpg'/> <a title='Photo by Eriqvaldezz (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:GT-S6500L.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"15\",\n      \"name\": \"Sony Xperia P Silver\",\n      \"values\": {\n        \"weight\": 120,\n        \"price\": 255,\n        \"RAM\": 1024,\n        \"battery\": 1305,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4,\n        \"brand\": \"Sony\",\n        \"rDate\": \"2012-02-27T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Xperia_P.jpg/330px-Xperia_P.jpg'/> <a title='Photo by vsy (http://www.flickr.com/photos/vsy/7176314726/) [CC BY-SA 2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Xperia_P.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    }\n  ]\n};\nmsg.problem=JSON.stringify(problem);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":178,"wires":[["8409ae6f.66551"]]},{"id":"27cbc89f.067e18","type":"http in","z":"323ee091.8c83e","name":"","url":"/tofaw/events","method":"post","swaggerDoc":"","x":130,"y":517,"wires":[["81ac9e23.2f79","11a7a013.be1d2"]]},{"id":"81ac9e23.2f79","type":"http response","z":"323ee091.8c83e","name":"","x":754,"y":515,"wires":[]},{"id":"11a7a013.be1d2","type":"debug","z":"323ee091.8c83e","name":"","active":true,"console":"false","complete":"false","x":352,"y":573,"wires":[]},{"id":"9ba27523.b302e8","type":"comment","z":"323ee091.8c83e","name":"Link to the Advanced Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Tradeoff Analytics Advanced Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/advanced_examples/tradeoff_analytics_widget)\n","x":155,"y":127,"wires":[]},{"id":"e0d2e36c.a9683","type":"inject","z":"da45fc3a.420a7","name":"getStatus","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":271,"wires":[["9c15ba70.1ed3e8"]]},{"id":"9c15ba70.1ed3e8","type":"watson-translate","z":"da45fc3a.420a7","name":"","action":"getstatus","basemodel":"en-fr","domain":"news","filetype":"forcedglossary","trainid":"","x":372,"y":271,"wires":[["aca3d6a.1fe8128"]]},{"id":"aca3d6a.1fe8128","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"payload","x":662,"y":271,"wires":[]},{"id":"173135bb.20498a","type":"inject","z":"da45fc3a.420a7","name":"Train","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82,"y":191,"wires":[["e15f9f49.c075b"]]},{"id":"e15f9f49.c075b","type":"dropbox","z":"da45fc3a.420a7","dropbox":"","filename":"glossary.tmx","name":"Glossary","x":232,"y":191,"wires":[["a4bcb97c.82f228"]]},{"id":"a4bcb97c.82f228","type":"watson-translate","z":"da45fc3a.420a7","name":"","action":"train","basemodel":"en-fr","domain":"news","filetype":"forcedglossary","trainid":"","x":432,"y":191,"wires":[["5057b28a.9e5d0c"]]},{"id":"5057b28a.9e5d0c","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"payload","x":662,"y":191,"wires":[]},{"id":"ed10679a.36a528","type":"inject","z":"da45fc3a.420a7","name":"Delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82,"y":351,"wires":[["5f709c67.315c14"]]},{"id":"5f709c67.315c14","type":"watson-translate","z":"da45fc3a.420a7","name":"","action":"delete","basemodel":"en-fr","domain":"news","filetype":"forcedglossary","trainid":"","x":372,"y":351,"wires":[["25f52a8a.558db6"]]},{"id":"25f52a8a.558db6","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"true","x":642,"y":351,"wires":[]},{"id":"838ae641.e0fca8","type":"inject","z":"da45fc3a.420a7","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":96,"wires":[["11e8f5cd.52b76a"]]},{"id":"11e8f5cd.52b76a","type":"watson-translate","z":"da45fc3a.420a7","name":"","action":"translate","basemodel":"en-fr","domain":"conversational","filetype":"forcedglossary","x":360,"y":96,"wires":[["6feb8344.3058cc"]]},{"id":"6feb8344.3058cc","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"payload","x":650,"y":96,"wires":[]},{"id":"34ff9c3f.a2d914","type":"comment","z":"da45fc3a.420a7","name":"Translate Mode","info":"The example below is used to use the new Training feature of the Language Translation service.","x":87,"y":58,"wires":[]},{"id":"5e8db2dc.74684c","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":162,"wires":[["c56a7fa4.cfbc6"]]},{"id":"c56a7fa4.cfbc6","type":"watson-retrieve-rank-create-cluster","z":"c759a611.651b38","name":"","clustername":"mycluster","clustersize":"free","x":398,"y":181,"wires":[["d4867349.5f3fb"]]},{"id":"d4867349.5f3fb","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":688,"y":205,"wires":[]},{"id":"6228e698.90b2d8","type":"comment","z":"c759a611.651b38","name":"1) Create a Cluster","info":"","x":129,"y":119,"wires":[]},{"id":"f958127c.7d75f","type":"comment","z":"c759a611.651b38","name":"2) Upload Solr Configuration","info":"","x":159,"y":262,"wires":[]},{"id":"455ed107.c63d3","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":324,"wires":[["862156bd.c2a388"]]},{"id":"862156bd.c2a388","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"cranfield_solr_config.zip","name":"","x":305,"y":325,"wires":[["c49cdbd3.e06b58"]]},{"id":"c49cdbd3.e06b58","type":"watson-retrieve-rank-upload-solr-configuration","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","configname":"myconfigurationname","x":767,"y":357,"wires":[["dbee3c47.da68d"]]},{"id":"dbee3c47.da68d","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1072,"y":333,"wires":[]},{"id":"225952ae.9e222e","type":"comment","z":"c759a611.651b38","name":"3) Create a Solr Collection","info":"","x":150,"y":401,"wires":[]},{"id":"6b1724da.b167cc","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":465,"wires":[["88fd7f7e.11dcd"]]},{"id":"88fd7f7e.11dcd","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"Create Solr Collection","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"create","configname":"myconfigurationname","x":364,"y":483,"wires":[["cf957e59.f936b"]]},{"id":"cf957e59.f936b","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":701,"y":463,"wires":[]},{"id":"2d0a729.bc5988e","type":"comment","z":"c759a611.651b38","name":"4) Index Documents","info":"","x":133,"y":541,"wires":[]},{"id":"aec2aa1.2d65558","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":595,"wires":[["9e94a2c5.189fb"]]},{"id":"9e94a2c5.189fb","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"cranfield_data.json","name":"","x":337,"y":622,"wires":[["c1c36cd6.497ef"]]},{"id":"c1c36cd6.497ef","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"Index Documents","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"index","configname":"","x":720,"y":612,"wires":[["43026fbe.47e72"]]},{"id":"43026fbe.47e72","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1012,"y":572,"wires":[]},{"id":"c2988d2.da74f7","type":"comment","z":"c759a611.651b38","name":"5) Create Ranker","info":"","x":130,"y":688,"wires":[]},{"id":"e4c9e138.85dd2","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":77,"y":753,"wires":[["4150e974.bb6708"]]},{"id":"3f82e880.d21af8","type":"watson-retrieve-rank-create-ranker","z":"c759a611.651b38","name":"","rankername":"myranker","x":733,"y":776,"wires":[["41e154eb.53adbc"]]},{"id":"4150e974.bb6708","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"training_data.txt","name":"","x":289,"y":768,"wires":[["3f82e880.d21af8"]]},{"id":"41e154eb.53adbc","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1006,"y":766,"wires":[]},{"id":"c5d059f6.6776a8","type":"comment","z":"c759a611.651b38","name":"6) Search the collection (Retrieve)","info":"","x":187,"y":856,"wires":[]},{"id":"a0b78c9.ff1307","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":68,"y":920,"wires":[["1f0d365b.600e6a"]]},{"id":"410e0b12.f64114","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"search","configname":"","x":673,"y":939,"wires":[["d9d3d20d.1bd83"]]},{"id":"d9d3d20d.1bd83","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1012,"y":910,"wires":[]},{"id":"1f0d365b.600e6a","type":"function","z":"c759a611.651b38","name":"Add search query","func":"msg.payload = \"q=what is the basic mechanism of the transonic aileron buzz\";\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":929,"wires":[["410e0b12.f64114"]]},{"id":"3fae6106.fe8e2e","type":"comment","z":"c759a611.651b38","name":"7) Rerank the search results (Retrieve and Rank)","info":"","x":236,"y":1013,"wires":[]},{"id":"7264c447.1cea4c","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":65,"y":1089,"wires":[["209ada5d.4e7c76"]]},{"id":"a780370e.a4ac78","type":"watson-retrieve-rank-search-and-rank","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","searchmode":"search-and-rank","rankerid":"868fedx13-rank-1129","x":659,"y":1136,"wires":[["f5f9e203.2a7fb"]]},{"id":"209ada5d.4e7c76","type":"function","z":"c759a611.651b38","name":"Add search query","func":"msg.payload = \"q=what is the basic mechanism of the transonic aileron buzz\";\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":1121,"wires":[["a780370e.a4ac78"]]},{"id":"f5f9e203.2a7fb","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":987,"y":1092,"wires":[]},{"id":"85b8254b.563c28","type":"comment","z":"c759a611.651b38","name":"Link to Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Retrieve and Rank](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/retrieve_and_rank)\n","x":110,"y":20,"wires":[]},{"id":"892afccc.b1d0f","type":"comment","z":"c759a611.651b38","name":"Make sure you bind Retrieve and Rank Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Retrieve and Rank Service has to be bound to the Node-RED application.\n","x":582,"y":22,"wires":[]},{"id":"af389d45.5e094","type":"inject","z":"5f3e9f2.f266c6","name":"Start Simulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.13333129882812,"y":74,"wires":[["98a6496.6d2f8b8"]]},{"id":"b9b415d0.7d0328","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Create Dialog","mode":"create","dialog":"","clientid":"","converse":"","x":552.6333312988281,"y":163.75,"wires":[["96f1035c.cd961","beef2721.146ad8"]]},{"id":"64039850.e5c5b8","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"function generateUUID() {\n var d = new Date().getTime();\n var uuid = 'xxxx-4xxx-yxxx'.replace(/[xy]/g, function(c) {\n var r = (d + Math.random()*16)%16 | 0;\n d = Math.floor(d/16);\n return (c=='x' ? r : (r&0x3|0x8)).toString(16);\n });\n return uuid;\n}\n// the dialog_name is unique and is not re-usable, so we are using a UUID\nmsg.dialog_params = {};\n// a template file must be provided in the msg.payload in input\n// and is passed as is in the output for Dialog node in \"Creation Mode\"\nmsg.dialog_params[\"dialog_name\"] = \"Pizza\"+generateUUID();\nreturn msg;","outputs":1,"noerr":0,"x":527.7583312988281,"y":109.50000762939453,"wires":[["b9b415d0.7d0328"]]},{"id":"d09ab534.ec3ac8","type":"inject","z":"5f3e9f2.f266c6","name":"List All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.7583236694336,"y":625.75,"wires":[["72a2de1d.ac897"]]},{"id":"72a2de1d.ac897","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Available Dialog","mode":"list","dialog":"","clientid":"","converse":"","x":341.7583312988281,"y":626.75,"wires":[["f2b7978b.464728"]]},{"id":"f2b7978b.464728","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":533.0083312988281,"y":625.5,"wires":[]},{"id":"6e067261.5609ac","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Start Conversation","mode":"startconverse","dialog":"","clientid":"","converse":"","x":328.6333312988281,"y":243.75,"wires":[["e55baa22.290ab8","d353111e.cfe0d"]]},{"id":"b2b6fb2e.d63af8","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Continue Conversation","mode":"converse","dialog":"","clientid":"","converse":"","x":339.1333312988281,"y":370,"wires":[["2940be7d.364d62","5dfa6006.64e1d"]]},{"id":"6df40c1e.72d214","type":"service-dialog","z":"5f3e9f2.f266c6","name":"List Profile Variables","mode":"getprofile","dialog":"","clientid":"","converse":"","x":345.3833312988281,"y":472.5,"wires":[["71b3d544.d1b2bc"]]},{"id":"e55baa22.290ab8","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":620.6333312988281,"y":246.75,"wires":[]},{"id":"2940be7d.364d62","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":555.1333312988281,"y":369.75,"wires":[]},{"id":"71b3d544.d1b2bc","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":583.6333312988281,"y":472.25,"wires":[]},{"id":"98a6496.6d2f8b8","type":"http request","z":"5f3e9f2.f266c6","name":"Get XML Template","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":329.1333312988281,"y":73,"wires":[["64039850.e5c5b8"]]},{"id":"2bbbadb.d90cf52","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Delete Dialog","mode":"delete","dialog":"ba128d81-4870-42c3-a6a6-0bafd8c0a731","clientid":"","converse":"","x":336.1333312988281,"y":552,"wires":[["35c2d64d.01e72a"]]},{"id":"aba8e00f.89c34","type":"inject","z":"5f3e9f2.f266c6","name":"Delete a Dialog","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.13333129882812,"y":552,"wires":[["2bbbadb.d90cf52"]]},{"id":"35c2d64d.01e72a","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":534.1333312988281,"y":551,"wires":[]},{"id":"96f1035c.cd961","type":"function","z":"5f3e9f2.f266c6","name":"Prepare Request","func":"msg2 = {};\nmsg2.payload=\"Hello !\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog.dialog_id;\nreturn msg2;","outputs":1,"noerr":0,"x":801.1333312988281,"y":177,"wires":[["6e067261.5609ac"]]},{"id":"4b913a74.b6a4b4","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Delete All Dialogs","mode":"deleteall","dialog":"","clientid":"","converse":"","x":335.6333312988281,"y":695,"wires":[["fae7dcd6.287e1"]]},{"id":"7fb86354.1a13ac","type":"inject","z":"5f3e9f2.f266c6","name":"Delete All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.63333129882812,"y":696,"wires":[["4b913a74.b6a4b4"]]},{"id":"fae7dcd6.287e1","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":519.6333312988281,"y":695,"wires":[]},{"id":"d353111e.cfe0d","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":466.6333312988281,"y":302,"wires":[["b2b6fb2e.d63af8"]]},{"id":"beef2721.146ad8","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":758.6333312988281,"y":128,"wires":[]},{"id":"5dfa6006.64e1d","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":516.6333312988281,"y":411,"wires":[["6df40c1e.72d214"]]},{"id":"b4802e3.47e0dd","type":"comment","z":"5f3e9f2.f266c6","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Dialog Template Creation Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/dialog_template_creation)\n- [Watson Dialog Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/dialog)","x":115,"y":20,"wires":[]},{"id":"86b5246.0ca91d8","type":"comment","z":"5f3e9f2.f266c6","name":"Make sure you bind Dialog Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Dialog Service has to be bound to the Node-RED application.\n","x":561,"y":20,"wires":[]},{"id":"513126d5.03ec38","type":"comment","z":"799cf6e6.8fa178","name":"Link to the Lab instructions (to come)","info":"See corresponding Lab instructions in the link below :\n\n[Watson Visual Recognition](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition_v3)\n","x":155,"y":20,"wires":[]},{"id":"f9c714ea.89bc48","type":"comment","z":"799cf6e6.8fa178","name":"Configure VR v3 nodes with the API Key","info":"No Binding with Bluemix app is currently available for Watson Visual Recognition v3 service.\nThe API Key is available in the Bluemix Console in the Credentials section of the service detail.","x":710.5000076293945,"y":20,"wires":[]},{"id":"5451f22b.aa8a0c","type":"comment","z":"799cf6e6.8fa178","name":"TRAINING your own classifiers","info":"build new Specific Classifier to be used.","x":145,"y":394.2500057220459,"wires":[]},{"id":"1c66e82b.b19c68","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":84.5,"y":58.5,"wires":[["c46ad0da.71d37"]]},{"id":"c46ad0da.71d37","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (en)","apikey":"","image-feature":"classifyImage","lang":"en","x":484.5,"y":57.500000953674316,"wires":[["c0248806.40ee68"]]},{"id":"f3b80af2.3fdbc8","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/5.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":174.50000095367432,"wires":[["2514619d.78f81e"]]},{"id":"2514619d.78f81e","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Recognize Text","apikey":"","image-feature":"recognizeText","x":459,"y":172.50000095367432,"wires":[["c0248806.40ee68"]]},{"id":"50725b22.89ec04","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Detect Faces","apikey":"","image-feature":"detectFaces","x":466.5,"y":247.50000095367432,"wires":[["c0248806.40ee68"]]},{"id":"bc936213.b0fdf","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":247.50000095367432,"wires":[["50725b22.89ec04"]]},{"id":"c0248806.40ee68","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":784.5,"y":103.50000095367432,"wires":[]},{"id":"8d77ed89.80bd7","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.5,"y":97.50000095367432,"wires":[["ac7ff027.27d5c"]]},{"id":"ac7ff027.27d5c","type":"http request","z":"799cf6e6.8fa178","name":"","method":"GET","ret":"bin","url":"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","x":264.5,"y":98.50000095367432,"wires":[["c46ad0da.71d37"]]},{"id":"26030340.a5637c","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"lego-2.jpg","name":"lego-2.jpg","x":266.5,"y":137.50000095367432,"wires":[["c46ad0da.71d37"]]},{"id":"95754013.9bc16","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":137.50000095367432,"wires":[["26030340.a5637c"]]},{"id":"5c1ca248.1b090c","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"create a classifier","apikey":"","image-feature":"createClassifier","x":549,"y":524.2500057220459,"wires":[["2f1adffb.44843"]]},{"id":"8b8fb125.c9909","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"retrieve classifiers list","apikey":"","image-feature":"retrieveClassifiersList","x":545,"y":575.25,"wires":[["2f1adffb.44843"]]},{"id":"56671b6f.6a96a4","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"retrieve classifier details","apikey":"","image-feature":"retrieveClassifierDetails","x":549,"y":621.2500057220459,"wires":[["2f1adffb.44843"]]},{"id":"e724745c.637cb8","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"delete a classifier","apikey":"","image-feature":"deleteClassifier","x":530,"y":673.2500057220459,"wires":[["2f1adffb.44843"]]},{"id":"c800728e.108a3","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":433.2500057220459,"wires":[["75b7876e.165eb8"]]},{"id":"cc3405eb.efcb68","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":573.2500057220459,"wires":[["8b8fb125.c9909"]]},{"id":"78da7a2b.287674","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":619.2500057220459,"wires":[["aa063e74.e7734"]]},{"id":"c26f1477.a8d258","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":666.2500057220459,"wires":[["2959c7bd.bd8788"]]},{"id":"eb0cf0d4.6b05a","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"retrievers_positive.zip","name":"retrievers_positive.zip","x":159.5,"y":482.2500057220459,"wires":[["a5fcbf7e.0570a"]]},{"id":"a8eae456.274988","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"retrievers_negative.zip","name":"retrievers_negative.zip","x":159.5,"y":530.25,"wires":[["2581a2e5.d9915e"]]},{"id":"a5fcbf7e.0570a","type":"change","z":"799cf6e6.8fa178","name":"set positives","rules":[{"t":"set","p":"params.retrievers_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":482.2500057220459,"wires":[["a8eae456.274988"]]},{"id":"2581a2e5.d9915e","type":"change","z":"799cf6e6.8fa178","name":"set negatives","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.5,"y":532.25,"wires":[["5c1ca248.1b090c"]]},{"id":"75b7876e.165eb8","type":"function","z":"799cf6e6.8fa178","name":"set name","func":"msg.params={'name':'retrievers'};\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":433.2500057220459,"wires":[["eb0cf0d4.6b05a"]]},{"id":"2f1adffb.44843","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":787,"y":621.25,"wires":[]},{"id":"c2c94020.ec4e7","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"faces-1.jpg","name":"faces-1.jpg","x":267,"y":283.5000009536743,"wires":[["50725b22.89ec04"]]},{"id":"90caaf6a.4e7d7","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":283.5000009536743,"wires":[["c2c94020.ec4e7"]]},{"id":"dddb9b36.5a29b8","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"text-5.jpg","name":"text-5.jpg","x":256,"y":209.50000095367432,"wires":[["2514619d.78f81e"]]},{"id":"66488c6.caf6274","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":209.50000095367432,"wires":[["dddb9b36.5a29b8"]]},{"id":"aa063e74.e7734","type":"function","z":"799cf6e6.8fa178","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_576045825'};\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":621.2500057220459,"wires":[["56671b6f.6a96a4"]]},{"id":"2959c7bd.bd8788","type":"function","z":"799cf6e6.8fa178","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_1305424883'};\nreturn msg;","outputs":1,"noerr":0,"x":315.5,"y":672.2500057220459,"wires":[["e724745c.637cb8"]]},{"id":"ddda9257.e2062","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.25,"y":825.25,"wires":[["dd785bd4.26ea88"]]},{"id":"a1df35e9.0af828","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"4-dog.jpg","name":"4-dog.jpg","x":514.25,"y":826.25,"wires":[["f0d68e1c.c7fe7"]]},{"id":"dd785bd4.26ea88","type":"function","z":"799cf6e6.8fa178","name":"set classifier_ids","func":"msg.params={};\nmsg.params[\"classifier_ids\"]=\"retrievers_400995941\";\nreturn msg;","outputs":1,"noerr":0,"x":291.25,"y":826.25,"wires":[["a1df35e9.0af828"]]},{"id":"1cbe3d94.93f142","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"true","complete":"result","x":763.25,"y":969.25,"wires":[]},{"id":"e353664d.d4aec8","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113.25,"y":878.25,"wires":[["64aa1462.44b5ac"]]},{"id":"64aa1462.44b5ac","type":"function","z":"799cf6e6.8fa178","name":"set owners","func":"msg.params={};\nmsg.params[\"owners\"]=\"me,IBM\";\nreturn msg;","outputs":1,"noerr":0,"x":282.25,"y":879.25,"wires":[["a1df35e9.0af828"]]},{"id":"d8d24b9f.41e968","type":"comment","z":"799cf6e6.8fa178","name":"Advanced Options","info":"build new Specific Classifier to be used.","x":108.25,"y":775.25,"wires":[]},{"id":"c3846574.1609f8","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.25,"y":930.25,"wires":[["ff08763d.a76308"]]},{"id":"ff08763d.a76308","type":"function","z":"799cf6e6.8fa178","name":"set threshold","func":"msg.params={};\nmsg.params[\"threshold\"]=\"0.3\";\nreturn msg;","outputs":1,"noerr":0,"x":283.25,"y":932.25,"wires":[["a1df35e9.0af828"]]},{"id":"e9ffa9cb.fe63a8","type":"inject","z":"799cf6e6.8fa178","name":"caricature test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.75000381469727,"y":331.25001525878906,"wires":[["37e4d0dd.50d34"]]},{"id":"37e4d0dd.50d34","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"caricature-devoxx-france-2016.jpg","name":"caricature","x":272.50000381469727,"y":331.25001525878906,"wires":[["d7ee65db.fced08","6c8d1188.75f81"]]},{"id":"d7ee65db.fced08","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image","apikey":"","image-feature":"classifyImage","lang":"es","x":460.00000381469727,"y":332.50001525878906,"wires":[["b6639f77.28d8"]]},{"id":"6c8d1188.75f81","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Recognize Text","apikey":"","image-feature":"recognizeText","x":451.25000381469727,"y":381.25001525878906,"wires":[["b6639f77.28d8"]]},{"id":"b6639f77.28d8","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":693.1250038146973,"y":352.50001525878906,"wires":[]},{"id":"7e82b6b5.4a32e8","type":"comment","z":"799cf6e6.8fa178","name":"Samples Files (click me)","info":"Here is the link where you can download all the sample files used in this sample flow :\n[Watson Visual Recognition v3 Sample Files](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition/sample_files)","x":423.12501525878906,"y":20,"wires":[]},{"id":"b81523c6.57ea4","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":718,"wires":[["3c3d857c.85810a"]]},{"id":"3c3d857c.85810a","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"delete All classifiers","apikey":"","image-feature":"deleteAllClassifiers","x":530,"y":721,"wires":[["2f1adffb.44843"]]},{"id":"1894ab95.3037b4","type":"inject","z":"7c88ce6d.23512","name":"Start Conversation","topic":"","payload":"Hello !","payloadType":"str","repeat":"","crontab":"","once":false,"x":128.5,"y":69,"wires":[["27790a7d.b5d566"]]},{"id":"2c3fbceb.3f4804","type":"comment","z":"7c88ce6d.23512","name":"Link to the Lab instructions (to come)","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":158,"y":22,"wires":[]},{"id":"89671df2.06c06","type":"comment","z":"7c88ce6d.23512","name":"Make sure you bind Conversation Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Watson Conversation Service has to be bound to the Node-RED application.\n","x":537,"y":22,"wires":[]},{"id":"3391faf5.e3e166","type":"watson-tone-analyzer-v3","z":"f44213e0.6b0cc","name":"","tones":"emotion","sentences":"true","contentType":"false","x":578.2777557373047,"y":133.4027862548828,"wires":[["bde75f46.94e3a"]]},{"id":"27790a7d.b5d566","type":"watson-conversation-v1","z":"7c88ce6d.23512","name":"","workspaceid":"","x":322.27427673339844,"y":69.11111450195312,"wires":[["511151e9.6199","71030fcd.6911f"]]},{"id":"511151e9.6199","type":"debug","z":"7c88ce6d.23512","name":"","active":false,"console":"false","complete":"false","x":661.2847137451172,"y":66.11805725097656,"wires":[]},{"id":"71030fcd.6911f","type":"function","z":"7c88ce6d.23512","name":"re-use context","func":"msg2 = {};\nmsg2.payload = \"\";\nmsg2.params = { \"context\": msg.payload.context};\nreturn msg2;","outputs":1,"noerr":0,"x":349.2847137451172,"y":129.07640075683594,"wires":[["d32d9763.12a348","eed49b16.29b1c8"]]},{"id":"d32d9763.12a348","type":"function","z":"7c88ce6d.23512","name":"Continue conversation","func":"msg.payload =  \"play something for me\";\nreturn msg;","outputs":1,"noerr":0,"x":367.2847137451172,"y":177.08334350585938,"wires":[["3c070d50.1e3062","6de81096.de454"]]},{"id":"eed49b16.29b1c8","type":"debug","z":"7c88ce6d.23512","name":"","active":false,"console":"false","complete":"params","x":653.2812347412109,"y":124.33680725097656,"wires":[]},{"id":"6de81096.de454","type":"watson-conversation-v1","z":"7c88ce6d.23512","name":"continue conversation","workspaceid":"","x":408.2743377685547,"y":238.34375,"wires":[["d2519697.9f84d8"]]},{"id":"d2519697.9f84d8","type":"debug","z":"7c88ce6d.23512","name":"","active":true,"console":"false","complete":"false","x":653.2742767333984,"y":239.125,"wires":[]},{"id":"3c070d50.1e3062","type":"debug","z":"7c88ce6d.23512","name":"","active":false,"console":"false","complete":"false","x":644.8368209615165,"y":174.68055570272753,"wires":[]},{"id":"71381b51.e02354","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":984,"wires":[["90d1a494.0cb558"]]},{"id":"90d1a494.0cb558","type":"function","z":"799cf6e6.8fa178","name":"override accept_language (Arabic)","func":"msg.params={};\nmsg.params['accept_language']='ar'; // try en, jp, es, ar\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":984,"wires":[["a1df35e9.0af828"]]},{"id":"6927711b.03224","type":"inject","z":"799cf6e6.8fa178","name":"Classify with Accept-Language","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":166,"y":1039,"wires":[["7a8cf4c3.0df5cc"]]},{"id":"7a8cf4c3.0df5cc","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (Arabic)","apikey":"","image-feature":"classifyImage","lang":"ar","x":538,"y":1037,"wires":[["1cbe3d94.93f142"]]},{"id":"d8c28653.36ac18","type":"inject","z":"799cf6e6.8fa178","name":"Classify with Accept-Language","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":165,"y":1082,"wires":[["3d9424ae.aadbec"]]},{"id":"3d9424ae.aadbec","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (Japanese)","apikey":"","image-feature":"classifyImage","lang":"ja","x":546,"y":1083,"wires":[["1cbe3d94.93f142"]]},{"id":"f27cc7bb.e7e528","type":"inject","z":"799cf6e6.8fa178","name":"Classify with Accept-Language","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/4.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":167,"y":1126,"wires":[["caf80604.9b44c8"]]},{"id":"caf80604.9b44c8","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (Spanish)","apikey":"","image-feature":"classifyImage","lang":"es","x":543,"y":1128,"wires":[["1cbe3d94.93f142"]]},{"id":"f0d68e1c.c7fe7","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image","apikey":"","image-feature":"classifyImage","lang":"en","x":632.5,"y":894,"wires":[["1cbe3d94.93f142"]]}]