defaults/flow.json
[{"id":"150e1f6b.17a5d1","type":"tab","label":"Alchemy Feature Extract"},{"id":"a207df14.8f7cc","type":"tab","label":"Alchemy News"},{"id":"7c88ce6d.23512","type":"tab","label":"Conversation"},{"id":"908bbb3c.6f4b38","type":"tab","label":"Discovery"},{"id":"ffc20fff.55777","type":"tab","label":"Document Conversion"},{"id":"169f5448.846cac","type":"tab","label":"Language Identification"},{"id":"da45fc3a.420a7","type":"tab","label":"Langage Translation"},{"id":"a73b6354.5d21e","type":"tab","label":"Natural Langage Classifier"},{"id":"322f3382.26e20c","type":"tab","label":"Personality Insights"},{"id":"c759a611.651b38","type":"tab","label":"Retrieve and Rank"},{"id":"99ccde8b.e0dcf","type":"tab","label":"Speech to Text"},{"id":"5f012eda.93f3d","type":"tab","label":"Text to Speech"},{"id":"f44213e0.6b0cc","type":"tab","label":"Tone Analyser"},{"id":"323ee091.8c83e","type":"tab","label":"Tradeoff Analytics"},{"id":"799cf6e6.8fa178","type":"tab","label":"Visual Recognition v3"},{"id":"73003e38.6d70e","type":"inject","z":"f44213e0.6b0cc","name":"String","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":68,"wires":[["9a38b7c2.f7eb38"]]},{"id":"bde75f46.94e3a","type":"debug","z":"f44213e0.6b0cc","name":"","active":true,"console":"false","complete":"response","x":782.5000457763672,"y":132.93333435058594,"wires":[]},{"id":"9a38b7c2.f7eb38","type":"function","z":"f44213e0.6b0cc","name":"Prepare Request","func":"var data = \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it!\";\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":67.933349609375,"wires":[["3391faf5.e3e166"]]},{"id":"3cddcc5a.d67834","type":"dropbox","z":"f44213e0.6b0cc","dropbox":"","filename":"aDialogTemplateFile.txt","name":"","x":342.5,"y":134,"wires":[["3391faf5.e3e166"]]},{"id":"4746b6e8.5737a8","type":"inject","z":"f44213e0.6b0cc","name":"From Dropbox","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.5,"y":134,"wires":[["3cddcc5a.d67834"]]},{"id":"36aa5742.b7bea8","type":"http request","z":"f44213e0.6b0cc","name":"Get Buffer => Binary","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":334,"y":196,"wires":[["3391faf5.e3e166"]]},{"id":"60db19a0.ff0848","type":"inject","z":"f44213e0.6b0cc","name":"Buffer Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":196,"wires":[["36aa5742.b7bea8"]]},{"id":"4f0a3052.43b6","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":78,"y":57,"wires":[["e088029e.a9b5a"]]},{"id":"e088029e.a9b5a","type":"function","z":"150e1f6b.17a5d1","name":"Prepare Request","func":"msg.payload=\"AlchemyAPI uses natural language processing, artificial intelligence, deep learning and massive-scale web crawling to power it's text analysis capabilities. Try entering your own text in this text box to see what knowledge AlchemyAPI can extract from your unstructured data\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":54,"wires":[["a70128d5.5ff2e8"]]},{"id":"a70128d5.5ff2e8","type":"alchemy-feature-extract","z":"150e1f6b.17a5d1","name":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":515,"y":90,"wires":[["1a0220e2.d9efff"]]},{"id":"1a0220e2.d9efff","type":"debug","z":"150e1f6b.17a5d1","name":"","active":true,"console":"true","complete":"features","x":712,"y":88,"wires":[]},{"id":"c24c8be3.a5abf8","type":"http request","z":"150e1f6b.17a5d1","name":"","method":"GET","ret":"txt","url":"ibm.com","x":249,"y":124,"wires":[["a70128d5.5ff2e8"]]},{"id":"b90162a7.03fc3","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":81,"y":125,"wires":[["c24c8be3.a5abf8"]]},{"id":"fc4fa45e.775078","type":"comment","z":"150e1f6b.17a5d1","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy API Feature Extract Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_api_feature_extraction)","x":115,"y":20,"wires":[]},{"id":"8ab1fc53.d520a","type":"comment","z":"f44213e0.6b0cc","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Tone Analyser Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/tone_analyser)\n","x":115,"y":20,"wires":[]},{"id":"675754d0.0ee91c","type":"comment","z":"a73b6354.5d21e","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Natural Language Classifier](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/natural_language_classifier)\n","x":115,"y":20,"wires":[]},{"id":"9aaa5f52.2432e","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":92,"y":79,"wires":[["2d83f073.7e22b"]]},{"id":"daa1c6b9.de5ee8","type":"inject","z":"a73b6354.5d21e","name":"Ask","topic":"","payload":"Is it hot ?","payloadType":"string","repeat":"","crontab":"","once":false,"x":92,"y":137,"wires":[["b09c6aa7.87ae48"]]},{"id":"2d83f073.7e22b","type":"function","z":"a73b6354.5d21e","name":"get NLC status","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530\";\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":78,"wires":[["d279fe20.52d0d"]]},{"id":"b09c6aa7.87ae48","type":"function","z":"a73b6354.5d21e","name":"Ask NLC question","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530/classify?text=\" + encodeURI(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":136,"wires":[["d279fe20.52d0d"]]},{"id":"d279fe20.52d0d","type":"http request","z":"a73b6354.5d21e","name":"","method":"GET","ret":"txt","url":"","x":494,"y":100,"wires":[["f0b8935d.9e4c3"]]},{"id":"f0b8935d.9e4c3","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":703,"y":102,"wires":[]},{"id":"76aefcef.533634","type":"comment","z":"5f012eda.93f3d","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Text to Speech](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/text_to_speech)\n","x":115,"y":20,"wires":[]},{"id":"343c3ebb.c6b482","type":"comment","z":"323ee091.8c83e","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Tradeoff Analytics Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/tradeoff_analytics)\n","x":115,"y":20,"wires":[]},{"id":"24ee058e.86dc2a","type":"change","z":"5f012eda.93f3d","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"},{"t":"set","p":"text_to_say","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":368,"y":81,"wires":[["e5d1df49.9494f"]]},{"id":"87ab6442.f98b28","type":"http in","z":"5f012eda.93f3d","name":"","url":"/talk","method":"get","swaggerDoc":"","x":69,"y":302,"wires":[["a33c230f.65dff"]]},{"id":"a33c230f.65dff","type":"switch","z":"5f012eda.93f3d","name":"check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":231,"y":301,"wires":[["d2757e1b.17f3e"],["3a98d0a7.fa7c"]]},{"id":"3a98d0a7.fa7c","type":"template","z":"5f012eda.93f3d","name":"GetTextToSay","field":"payload","format":"html","template":"<h1>Enter text to Say</h1>\n<form action=\"{{req._parsedUrl.pathname}}\" method=\"get\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n    <input type=\"submit\" value=\"Say it!\"/>\n</form>","x":446,"y":326,"wires":[["1ec0a81b.dd1b88"]]},{"id":"1ec0a81b.dd1b88","type":"http response","z":"5f012eda.93f3d","name":"Reply","x":651,"y":295,"wires":[]},{"id":"d2757e1b.17f3e","type":"template","z":"5f012eda.93f3d","name":"Generate Reply","field":"payload","format":"html","template":"<h1>You want to say</h1>\n<p><q>{{payload}}</q></p>\n<p>Hear it:</p>\n<audio controls autoplay>\n  <source src=\"{{req._parsedUrl.pathname}}/sayit?text_to_say={{payload.text_to_say}}\" type=\"audio/wav\">\nYour browser does not support the audio element.\n</audio>\n<p>Thanks!</p>\n<form action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n    <input type=\"submit\" value=\"Try Again\" />\n</form>","x":446,"y":270,"wires":[["1ec0a81b.dd1b88"]]},{"id":"bdb18882.aa5668","type":"http in","z":"5f012eda.93f3d","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":87,"y":76,"wires":[["196ce77a.7a3da9"]]},{"id":"e41fc54f.bb7f58","type":"http response","z":"5f012eda.93f3d","name":"Reply Speech binary","x":773,"y":166,"wires":[]},{"id":"e5d1df49.9494f","type":"watson-text-to-speech","z":"5f012eda.93f3d","name":"","lang":"english","voice":"en-US_AllisonVoice","x":548,"y":80,"wires":[["7d2467d.54fcc98"]]},{"id":"196ce77a.7a3da9","type":"switch","z":"5f012eda.93f3d","name":"Check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":202,"y":129,"wires":[["24ee058e.86dc2a"],["e16ef042.d9d6b"]]},{"id":"e16ef042.d9d6b","type":"template","z":"5f012eda.93f3d","name":"Error","field":"payload","format":"handlebars","template":"<h1>\nError:    No f or text_to_say query parameter\n</h1>","x":342,"y":164,"wires":[["e41fc54f.bb7f58"]]},{"id":"7d2467d.54fcc98","type":"change","z":"5f012eda.93f3d","name":"Speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"}],"action":"","property":"","from":"","to":"","reg":false,"x":739,"y":80,"wires":[["489871c.e200a9"]]},{"id":"489871c.e200a9","type":"function","z":"5f012eda.93f3d","name":"Set headers","func":"// Set the content type to audio wave\nvar wavFileName=msg.text_to_say.replace(' ','_');\nif(wavFileName.length>32) {\n    wavFileName=wavFileName.substr(0,32);\n}\nvar attch='attachment; filename='+encodeURIComponent(wavFileName+'.wav');\nmsg.headers={ 'Content-Type': 'audio/wav',\n              'Content-Disposition': attch};\n\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":132,"wires":[["e41fc54f.bb7f58"]]},{"id":"cb847d2d.0ad25","type":"comment","z":"f44213e0.6b0cc","name":"Make sure you bind Tone Analyser Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Tone Analyser Service has to be bound to the Node-RED application.\n","x":652,"y":20,"wires":[]},{"id":"e6f40506.cd2278","type":"comment","z":"150e1f6b.17a5d1","name":"Make sure you bind Alchemy API Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the IBM Alchemy API Service has to be bound to the Node-RED application.\n","x":636,"y":20,"wires":[]},{"id":"1b36e3a3.a0453c","type":"comment","z":"a73b6354.5d21e","name":"Make sure you bind Natural Language Classifier Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Natural Langage Classifier Service has to be bound to the Node-RED application.\n","x":586,"y":20,"wires":[]},{"id":"7f3bb646.075988","type":"comment","z":"5f012eda.93f3d","name":"Make sure you bind Text to Speech Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Text to Speech Service has to be bound to the Node-RED application.\n","x":640,"y":20,"wires":[]},{"id":"d400ce2b.376db","type":"comment","z":"323ee091.8c83e","name":"Make sure you bind Tradeoff Analytics Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Tradeoff Analytics Service has to be bound to the Node-RED application.\n","x":635,"y":20,"wires":[]},{"id":"2f1c669b.55966a","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Train","mode":"create","language":"en","classifier":"","x":476,"y":314,"wires":[["64cc189.a9c69e8"]]},{"id":"850a59b8.e7a268","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Create","payloadType":"str","repeat":"","crontab":"","once":false,"x":89,"y":263,"wires":[["9d0ffeec.3f332"]]},{"id":"64cc189.a9c69e8","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":749,"y":312,"wires":[]},{"id":"9d0ffeec.3f332","type":"dropbox","z":"a73b6354.5d21e","dropbox":"","filename":"weather_data_train.csv","name":"","x":256,"y":311,"wires":[["2f1c669b.55966a"]]},{"id":"4be54e6e.841bf","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Get List","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":380,"wires":[["3542e5cd.462dea"]]},{"id":"3542e5cd.462dea","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"List","mode":"list","language":"en","classifier":"","x":462,"y":376,"wires":[["1ef35608.15f3da"]]},{"id":"1ef35608.15f3da","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":738,"y":380,"wires":[]},{"id":"c02f9bf5.cbafe8","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Classify","mode":"classify","language":"en","classifier":"f1704ex55-nlc-488","x":460,"y":447,"wires":[["d7083bce.9405c8"]]},{"id":"9afc6806.52b9b8","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Is it hot?","payloadType":"str","repeat":"","crontab":"","once":false,"x":96,"y":434,"wires":[["c02f9bf5.cbafe8"]]},{"id":"d7083bce.9405c8","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":738,"y":451,"wires":[]},{"id":"45566d25.5773f4","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"f15e67x54-nlc-454","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":518,"wires":[["17aa027b.895f3e"]]},{"id":"17aa027b.895f3e","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Remove","mode":"remove","language":"en","classifier":"","x":458,"y":524,"wires":[["1d26141a.3b705c"]]},{"id":"1d26141a.3b705c","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":735,"y":520,"wires":[]},{"id":"4ea24d53.f78b54","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Is it humid?","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":469,"wires":[["c02f9bf5.cbafe8"]]},{"id":"482e0027.a12d1","type":"inject","z":"323ee091.8c83e","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":61,"y":81,"wires":[["4109c752.7eab88"]]},{"id":"4109c752.7eab88","type":"function","z":"323ee091.8c83e","name":"Prepare Request","func":"msg = {\n  \"payload\": \"phone\",\n  \"columns\": [\n    {\n      \"key\": \"price\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Price\",\n      \"is_objective\": true,\n      \"format\": \"€####0.00\"\n    },\n    {\n      \"key\": \"brand\",\n      \"type\": \"categorical\",\n      \"goal\": \"min\",\n      \"full_name\": \"Brand\",\n      \"is_objective\": true,\n      \"range\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ],\n      \"preference\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ]\n    },\n    {\n      \"key\": \"RAM\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"RAM (MB)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"screen_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Screen (inch)\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"camera\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Camera\",\n      \"is_objective\": false,\n      \"format\": \"####0 MP\"\n    },\n    {\n      \"key\": \"memory_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Memory\",\n      \"is_objective\": false,\n      \"format\": \"####0 GB\"\n    },\n    {\n      \"key\": \"battery\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Battery (mAh)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"weight\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Weight\",\n      \"is_objective\": true,\n      \"format\": \"####0 g\"\n    },\n    {\n      \"key\": \"rDate\",\n      \"type\": \"datetime\",\n      \"goal\": \"max\",\n      \"full_name\": \"Release Date\",\n      \"is_objective\": false\n    }\n  ],\n  \"options\": [\n    {\n      \"key\": \" 1\",\n      \"name\": \"Samsung Galaxy S4 White\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Samsung_GALAXY_S4_zoom_%28White%29.jpg/800px-Samsung_GALAXY_S4_zoom_%28White%29.jpg'/> <a title='Photo by Samsung Belgium (Flickr: GALAXY S4 zoom (1)) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_GALAXY_S4_zoom_(White).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"2\",\n      \"name\": \"Samsung Galaxy S4 Black\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Samsung_Galaxy_S4.jpg/200px-Samsung_Galaxy_S4.jpg'/><a title='Photo by Karlis Dambrans (Flickr: Samsung Galaxy S4) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S4.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"3\",\n      \"name\": \"Samsung Galaxy S3 White\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Samsung_Galaxy_S_III.png/300px-Samsung_Galaxy_S_III.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"4\",\n      \"name\": \"Samsung Galaxy S3 Blue\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Samsung_Galaxy_S_Advance_i9070.JPG/250px-Samsung_Galaxy_S_Advance_i9070.JPG'/> <a title='Photo by Macs79 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_Advance_i9070.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"5\",\n      \"name\": \"Samsung Galaxy S3 mini White\",\n      \"values\": {\n        \"weight\": 111,\n        \"price\": 299,\n        \"RAM\": 1024,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-10-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Samsung_Galaxy_S_III_mini.png/300px-Samsung_Galaxy_S_III_mini.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III_mini.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"6\",\n      \"name\": \"Apple iPhone 5 White\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/IPhone5white.png/228px-IPhone5white.png'/> <a title='Photo by Pixeden.com [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone5white.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"7\",\n      \"name\": \"Apple iPhone 5 Black\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/IPhone_5.png/300px-IPhone_5.png'/> <a title='Photo by Zach Vega (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone_5.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"9\",\n      \"name\": \"HTC One\",\n      \"values\": {\n        \"weight\": 143,\n        \"price\": 189,\n        \"RAM\": 2048,\n        \"battery\": 2300,\n        \"camera\": 4,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"HTC\",\n        \"rDate\": \"2013-03-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/HTC_One.png/149px-HTC_One.png'/> <a title='Photo by M0rphzone (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:HTC_One.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"10\",\n      \"name\": \"LG Optimus G\",\n      \"values\": {\n        \"weight\": 145,\n        \"price\": 189,\n        \"RAM\": 1024,\n        \"battery\": 2100,\n        \"camera\": 13,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"LG\",\n        \"rDate\": \"2012-09-19T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/LG_Optimus_G_%28Black%29.jpg/330px-LG_Optimus_G_%28Black%29.jpg'/> <a title='[CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:LG_Optimus_G_(Black).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"11\",\n      \"name\": \"Nokia Lumia 520\",\n      \"values\": {\n        \"weight\": 124,\n        \"price\": 199,\n        \"RAM\": 512,\n        \"battery\": 1430,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Nokia\",\n        \"rDate\": \"2013-02-25T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Lumia_520.jpg/450px-Lumia_520.jpg'/> <a title='Photo by Krby Dambrns from Latvia (MWC Barcelona 2013 260  Uploaded by RaviC) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Lumia_520.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"13\",\n      \"name\": \"Samsung Galaxy Ace 2 Black\",\n      \"values\": {\n        \"weight\": 122,\n        \"price\": 220,\n        \"RAM\": 768,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 4,\n        \"screen_size\": 3.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Front_Ace_2.JPG/330px-Front_Ace_2.JPG'/> <a title='Photo by Fan samsung ace2 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Front_Ace_2.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"14\",\n      \"name\": \"Samsung Galaxy Mini 2 Black\",\n      \"values\": {\n        \"weight\": 105,\n        \"price\": 220,\n        \"RAM\": 512,\n        \"battery\": 1300,\n        \"camera\": 3.15,\n        \"memory_size\": 4,\n        \"screen_size\": 3.27,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/GT-S6500L.jpg/375px-GT-S6500L.jpg'/> <a title='Photo by Eriqvaldezz (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:GT-S6500L.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"15\",\n      \"name\": \"Sony Xperia P Silver\",\n      \"values\": {\n        \"weight\": 120,\n        \"price\": 255,\n        \"RAM\": 1024,\n        \"battery\": 1305,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4,\n        \"brand\": \"Sony\",\n        \"rDate\": \"2012-02-27T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Xperia_P.jpg/330px-Xperia_P.jpg'/> <a title='Photo by vsy (http://www.flickr.com/photos/vsy/7176314726/) [CC BY-SA 2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Xperia_P.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    }\n  ]\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":81,"wires":[["ed41bfd4.94b08"]]},{"id":"ed41bfd4.94b08","type":"watson-tradeoff-analytics","z":"323ee091.8c83e","name":"","x":467,"y":81,"wires":[["15177298.f485ad"]]},{"id":"15177298.f485ad","type":"debug","z":"323ee091.8c83e","name":"","active":true,"console":"false","complete":"resolution","x":681,"y":81,"wires":[]},{"id":"a5ef424d.c9746","type":"comment","z":"ffc20fff.55777","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Document Conversion](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/document_conversion)\n","x":115,"y":22,"wires":[]},{"id":"a48dddb5.60f81","type":"comment","z":"ffc20fff.55777","name":"Make sure you bind Document Conversion Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Document Conversion Service has to be bound to the Node-RED application.\n","x":593,"y":20,"wires":[]},{"id":"7340c843.1562e8","type":"comment","z":"a207df14.8f7cc","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy API Data News Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_data_news)\n","x":115,"y":20,"wires":[]},{"id":"217536fc.d0cb6a","type":"convert","z":"ffc20fff.55777","name":"","target":"NORMALIZED_TEXT","username":"","password":"","service":"_ext_","x":593,"y":74,"wires":[["b0183b44.c3da88"]]},{"id":"b0183b44.c3da88","type":"debug","z":"ffc20fff.55777","name":"plain text","active":true,"console":"false","complete":"payload","x":792,"y":74,"wires":[]},{"id":"ef8b8952.b47408","type":"function","z":"ffc20fff.55777","name":"document location & options","func":"msg = {\n    payload: 'https://www.ibm.com/developerworks/community/blogs/efc1d8f5-72e5-4c4f-99df-e74fccea10ca/resource/White%20Papers/IBMWatsonNextGenerationofCognitiveSystemswhitepaper.pdf?lang=en',\n    pdf: {\n        \"heading\": {\n            \"fonts\": [\n                {\"level\": 1, \"min_size\": 24, \"max_size\": 80},\n                {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": false, \"italic\": false},\n                {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": true},\n                {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": false, \"italic\": false},\n                {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": true},\n                {\"level\": 4, \"min_size\": 11, \"max_size\": 13, \"bold\": true, \"italic\": false}\n            ]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":74,"wires":[["217536fc.d0cb6a"]]},{"id":"99e01a91.c86168","type":"inject","z":"ffc20fff.55777","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":65,"y":74,"wires":[["ef8b8952.b47408"]]},{"id":"c46380b1.c7126","type":"inject","z":"a207df14.8f7cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":64,"wires":[["510210bb.cc009"]]},{"id":"510210bb.cc009","type":"news","z":"a207df14.8f7cc","name":"","service":"_ext_","key":"","start":"04/01/2016","end":"04/30/2016","query":"q.enriched.url.title=A[IBM^Watson]","custom":true,"queries":[{"field":"enriched.url.title","op":"cc","value":"Ronaldo"},{"field":"enriched.url.taxonomy.taxonomy_.label","op":"cc","value":"sport"}],"results":["original.url","enriched.url.title"],"max":10,"mode":"json","x":297,"y":64,"wires":[["74508465.015dac"]]},{"id":"74508465.015dac","type":"debug","z":"a207df14.8f7cc","name":"","active":true,"console":"false","complete":"false","x":507,"y":63.5,"wires":[]},{"id":"8409ae6f.66551","type":"template","z":"323ee091.8c83e","name":"Widget Page","field":"payload","format":"html","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no\">\n    <title>Node-RED TradeOff Analytics Widget demo</title>\n    <script type=\"text/javascript\" src=\"http://ta-cdn.mybluemix.net/v1/TradeoffAnalytics.js\"></script>\n    <script>\n    // get the problem object from Node-RED msg.problem\n    // note the triple-curly braces syntax to avoid HTML escaping\n    var problemObj={{{problem}}};\n    \n    // prepare client\n    var taClient;\n    \n    function loadTradeoffAnalytics() {\n\t\tdocument.body.style.cursor=\"wait\" ;\n        taClient = new TradeoffAnalytics(\n            {dilemmaServiceUrl: '{{{req._parsedUrl.pathname}}}/dilemmas',\n             analyticsEventsUrl: '{{{req._parsedUrl.pathname}}}/events'\n            }, \n            'tofaWidget');\n        taClient.start(onTAReady);\n    }\n\n    // this is called-back when the widget is ready\n    function onTAReady() {\n        taClient.show(problemObj, onTAShown);\n    }\n\n    // this is called-back when the problem has shown in the widget\n    function onTAShown() {\n\t\tdocument.body.style.cursor=\"default\";\n        taClient.resize();\n    }\n    \n    // trigger the tofa widget setup when window has loaded\n\twindow.onload=loadTradeoffAnalytics;\n</script>\n</head>\n\n<body>\n    <div id=\"tofaWidget\" style=\"height:100vh\"></div>\n</body>\n</html>","x":525,"y":233,"wires":[["4476dba8.91e544"]]},{"id":"1198b7d4.a54968","type":"http in","z":"323ee091.8c83e","name":"","url":"/tofaw","method":"get","swaggerDoc":"","x":97,"y":247,"wires":[["6bc96b8e.6db924"]]},{"id":"4476dba8.91e544","type":"http response","z":"323ee091.8c83e","name":"","x":753,"y":234,"wires":[]},{"id":"167db102.5a459f","type":"http in","z":"323ee091.8c83e","name":"","url":"/tofaw/dilemmas","method":"post","swaggerDoc":"","x":139,"y":369,"wires":[["e886c9de.cfd1d8"]]},{"id":"26a99d0c.2ae362","type":"http response","z":"323ee091.8c83e","name":"","x":772,"y":366,"wires":[]},{"id":"8c984deb.a56fa","type":"watson-tradeoff-analytics","z":"323ee091.8c83e","name":"","x":480,"y":364,"wires":[["6d4ceb5f.3caaf4"]]},{"id":"e886c9de.cfd1d8","type":"change","z":"323ee091.8c83e","name":"","rules":[{"t":"set","p":"subject","to":"msg.payload.subject"},{"t":"set","p":"columns","to":"msg.payload.columns"},{"t":"set","p":"options","to":"msg.payload.options"},{"t":"set","p":"problem","to":"msg.payload"},{"t":"set","p":"payload","to":"msg.payload.subject"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":448,"wires":[["8c984deb.a56fa"]]},{"id":"6d4ceb5f.3caaf4","type":"change","z":"323ee091.8c83e","name":"","rules":[{"t":"delete","p":"payload"},{"t":"set","p":"payload.problem","to":"msg.problem"},{"t":"set","p":"payload.resolution","to":"msg.resolution"}],"action":"","property":"","from":"","to":"","reg":false,"x":633,"y":457,"wires":[["26a99d0c.2ae362"]]},{"id":"6bc96b8e.6db924","type":"function","z":"323ee091.8c83e","name":"Set Problem","func":"// This is where we set the dimensions (columns) of the problem to analyze\n// and the raw data (options)\nvar problem = {\n  \"subject\": \"phone\",\n  \"columns\": [\n    {\n      \"key\": \"price\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Price\",\n      \"is_objective\": true,\n      \"format\": \"####0.00\"\n    },\n    {\n      \"key\": \"brand\",\n      \"type\": \"categorical\",\n      \"goal\": \"min\",\n      \"full_name\": \"Brand\",\n      \"is_objective\": true,\n      \"range\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ],\n      \"preference\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ]\n    },\n    {\n      \"key\": \"RAM\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"RAM (MB)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"screen_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Screen (inch)\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"camera\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Camera\",\n      \"is_objective\": false,\n      \"format\": \"####0 MP\"\n    },\n    {\n      \"key\": \"memory_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Memory\",\n      \"is_objective\": false,\n      \"format\": \"####0 GB\"\n    },\n    {\n      \"key\": \"battery\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Battery (mAh)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"weight\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Weight\",\n      \"is_objective\": true,\n      \"format\": \"####0 g\"\n    },\n    {\n      \"key\": \"rDate\",\n      \"type\": \"datetime\",\n      \"goal\": \"max\",\n      \"full_name\": \"Release Date\",\n      \"is_objective\": false\n    }\n  ],\n  \"options\": [\n    {\n      \"key\": \" 1\",\n      \"name\": \"Samsung Galaxy S4 White\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Samsung_GALAXY_S4_zoom_%28White%29.jpg/800px-Samsung_GALAXY_S4_zoom_%28White%29.jpg'/> <a title='Photo by Samsung Belgium (Flickr: GALAXY S4 zoom (1)) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_GALAXY_S4_zoom_(White).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"2\",\n      \"name\": \"Samsung Galaxy S4 Black\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Samsung_Galaxy_S4.jpg/200px-Samsung_Galaxy_S4.jpg'/><a title='Photo by Karlis Dambrans (Flickr: Samsung Galaxy S4) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S4.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"3\",\n      \"name\": \"Samsung Galaxy S3 White\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Samsung_Galaxy_S_III.png/300px-Samsung_Galaxy_S_III.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"4\",\n      \"name\": \"Samsung Galaxy S3 Blue\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Samsung_Galaxy_S_Advance_i9070.JPG/250px-Samsung_Galaxy_S_Advance_i9070.JPG'/> <a title='Photo by Macs79 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_Advance_i9070.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"5\",\n      \"name\": \"Samsung Galaxy S3 mini White\",\n      \"values\": {\n        \"weight\": 111,\n        \"price\": 299,\n        \"RAM\": 1024,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-10-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Samsung_Galaxy_S_III_mini.png/300px-Samsung_Galaxy_S_III_mini.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III_mini.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"6\",\n      \"name\": \"Apple iPhone 5 White\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/IPhone5white.png/228px-IPhone5white.png'/> <a title='Photo by Pixeden.com [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone5white.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"7\",\n      \"name\": \"Apple iPhone 5 Black\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/IPhone_5.png/300px-IPhone_5.png'/> <a title='Photo by Zach Vega (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone_5.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"9\",\n      \"name\": \"HTC One\",\n      \"values\": {\n        \"weight\": 143,\n        \"price\": 189,\n        \"RAM\": 2048,\n        \"battery\": 2300,\n        \"camera\": 4,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"HTC\",\n        \"rDate\": \"2013-03-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/HTC_One.png/149px-HTC_One.png'/> <a title='Photo by M0rphzone (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:HTC_One.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"10\",\n      \"name\": \"LG Optimus G\",\n      \"values\": {\n        \"weight\": 145,\n        \"price\": 189,\n        \"RAM\": 1024,\n        \"battery\": 2100,\n        \"camera\": 13,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"LG\",\n        \"rDate\": \"2012-09-19T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/LG_Optimus_G_%28Black%29.jpg/330px-LG_Optimus_G_%28Black%29.jpg'/> <a title='[CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:LG_Optimus_G_(Black).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"11\",\n      \"name\": \"Nokia Lumia 520\",\n      \"values\": {\n        \"weight\": 124,\n        \"price\": 199,\n        \"RAM\": 512,\n        \"battery\": 1430,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Nokia\",\n        \"rDate\": \"2013-02-25T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Lumia_520.jpg/450px-Lumia_520.jpg'/> <a title='Photo by Krby Dambrns from Latvia (MWC Barcelona 2013 260  Uploaded by RaviC) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Lumia_520.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"13\",\n      \"name\": \"Samsung Galaxy Ace 2 Black\",\n      \"values\": {\n        \"weight\": 122,\n        \"price\": 220,\n        \"RAM\": 768,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 4,\n        \"screen_size\": 3.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Front_Ace_2.JPG/330px-Front_Ace_2.JPG'/> <a title='Photo by Fan samsung ace2 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Front_Ace_2.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"14\",\n      \"name\": \"Samsung Galaxy Mini 2 Black\",\n      \"values\": {\n        \"weight\": 105,\n        \"price\": 220,\n        \"RAM\": 512,\n        \"battery\": 1300,\n        \"camera\": 3.15,\n        \"memory_size\": 4,\n        \"screen_size\": 3.27,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/GT-S6500L.jpg/375px-GT-S6500L.jpg'/> <a title='Photo by Eriqvaldezz (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:GT-S6500L.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"15\",\n      \"name\": \"Sony Xperia P Silver\",\n      \"values\": {\n        \"weight\": 120,\n        \"price\": 255,\n        \"RAM\": 1024,\n        \"battery\": 1305,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4,\n        \"brand\": \"Sony\",\n        \"rDate\": \"2012-02-27T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Xperia_P.jpg/330px-Xperia_P.jpg'/> <a title='Photo by vsy (http://www.flickr.com/photos/vsy/7176314726/) [CC BY-SA 2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Xperia_P.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    }\n  ]\n};\nmsg.problem=JSON.stringify(problem);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":178,"wires":[["8409ae6f.66551"]]},{"id":"27cbc89f.067e18","type":"http in","z":"323ee091.8c83e","name":"","url":"/tofaw/events","method":"post","swaggerDoc":"","x":130,"y":517,"wires":[["81ac9e23.2f79","11a7a013.be1d2"]]},{"id":"81ac9e23.2f79","type":"http response","z":"323ee091.8c83e","name":"","x":754,"y":515,"wires":[]},{"id":"11a7a013.be1d2","type":"debug","z":"323ee091.8c83e","name":"","active":true,"console":"false","complete":"false","x":352,"y":573,"wires":[]},{"id":"9ba27523.b302e8","type":"comment","z":"323ee091.8c83e","name":"Link to the Advanced Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Tradeoff Analytics Advanced Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/advanced_examples/tradeoff_analytics_widget)\n","x":155,"y":127,"wires":[]},{"id":"5e8db2dc.74684c","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":162,"wires":[["c56a7fa4.cfbc6"]]},{"id":"c56a7fa4.cfbc6","type":"watson-retrieve-rank-create-cluster","z":"c759a611.651b38","name":"","clustername":"mycluster","clustersize":"free","x":398,"y":181,"wires":[["d4867349.5f3fb"]]},{"id":"d4867349.5f3fb","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":688,"y":205,"wires":[]},{"id":"6228e698.90b2d8","type":"comment","z":"c759a611.651b38","name":"1) Create a Cluster","info":"","x":129,"y":119,"wires":[]},{"id":"f958127c.7d75f","type":"comment","z":"c759a611.651b38","name":"2) Upload Solr Configuration","info":"","x":159,"y":262,"wires":[]},{"id":"455ed107.c63d3","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":324,"wires":[["862156bd.c2a388"]]},{"id":"862156bd.c2a388","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"cranfield_solr_config.zip","name":"","x":305,"y":325,"wires":[["c49cdbd3.e06b58"]]},{"id":"c49cdbd3.e06b58","type":"watson-retrieve-rank-upload-solr-configuration","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","configname":"myconfigurationname","x":767,"y":357,"wires":[["dbee3c47.da68d"]]},{"id":"dbee3c47.da68d","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1072,"y":333,"wires":[]},{"id":"225952ae.9e222e","type":"comment","z":"c759a611.651b38","name":"3) Create a Solr Collection","info":"","x":150,"y":401,"wires":[]},{"id":"6b1724da.b167cc","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":465,"wires":[["88fd7f7e.11dcd"]]},{"id":"88fd7f7e.11dcd","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"Create Solr Collection","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"create","configname":"myconfigurationname","x":364,"y":483,"wires":[["cf957e59.f936b"]]},{"id":"cf957e59.f936b","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":701,"y":463,"wires":[]},{"id":"2d0a729.bc5988e","type":"comment","z":"c759a611.651b38","name":"4) Index Documents","info":"","x":133,"y":541,"wires":[]},{"id":"aec2aa1.2d65558","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":595,"wires":[["9e94a2c5.189fb"]]},{"id":"9e94a2c5.189fb","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"cranfield_data.json","name":"","x":337,"y":622,"wires":[["c1c36cd6.497ef"]]},{"id":"c1c36cd6.497ef","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"Index Documents","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"index","configname":"","x":720,"y":612,"wires":[["43026fbe.47e72"]]},{"id":"43026fbe.47e72","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1012,"y":572,"wires":[]},{"id":"c2988d2.da74f7","type":"comment","z":"c759a611.651b38","name":"5) Create Ranker","info":"","x":130,"y":688,"wires":[]},{"id":"e4c9e138.85dd2","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":77,"y":753,"wires":[["4150e974.bb6708"]]},{"id":"3f82e880.d21af8","type":"watson-retrieve-rank-create-ranker","z":"c759a611.651b38","name":"","rankername":"myranker","x":733,"y":776,"wires":[["41e154eb.53adbc"]]},{"id":"4150e974.bb6708","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"training_data.txt","name":"","x":289,"y":768,"wires":[["3f82e880.d21af8"]]},{"id":"41e154eb.53adbc","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1006,"y":766,"wires":[]},{"id":"c5d059f6.6776a8","type":"comment","z":"c759a611.651b38","name":"6) Search the collection (Retrieve)","info":"","x":187,"y":856,"wires":[]},{"id":"a0b78c9.ff1307","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":68,"y":920,"wires":[["1f0d365b.600e6a"]]},{"id":"410e0b12.f64114","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"search","configname":"","x":673,"y":939,"wires":[["d9d3d20d.1bd83"]]},{"id":"d9d3d20d.1bd83","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1012,"y":910,"wires":[]},{"id":"1f0d365b.600e6a","type":"function","z":"c759a611.651b38","name":"Add search query","func":"msg.payload = \"q=what is the basic mechanism of the transonic aileron buzz\";\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":929,"wires":[["410e0b12.f64114"]]},{"id":"3fae6106.fe8e2e","type":"comment","z":"c759a611.651b38","name":"7) Rerank the search results (Retrieve and Rank)","info":"","x":236,"y":1013,"wires":[]},{"id":"7264c447.1cea4c","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":65,"y":1089,"wires":[["209ada5d.4e7c76"]]},{"id":"a780370e.a4ac78","type":"watson-retrieve-rank-search-and-rank","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","searchmode":"search-and-rank","rankerid":"868fedx13-rank-1129","x":659,"y":1136,"wires":[["f5f9e203.2a7fb"]]},{"id":"209ada5d.4e7c76","type":"function","z":"c759a611.651b38","name":"Add search query","func":"msg.payload = \"q=what is the basic mechanism of the transonic aileron buzz\";\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":1121,"wires":[["a780370e.a4ac78"]]},{"id":"f5f9e203.2a7fb","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":987,"y":1092,"wires":[]},{"id":"85b8254b.563c28","type":"comment","z":"c759a611.651b38","name":"Link to Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Retrieve and Rank](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/retrieve_and_rank)\n","x":110,"y":20,"wires":[]},{"id":"892afccc.b1d0f","type":"comment","z":"c759a611.651b38","name":"Make sure you bind Retrieve and Rank Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Retrieve and Rank Service has to be bound to the Node-RED application.\n","x":582,"y":22,"wires":[]},{"id":"3391faf5.e3e166","type":"watson-tone-analyzer-v3","z":"f44213e0.6b0cc","name":"","tones":"emotion","sentences":"true","contentType":"false","x":578.2777557373047,"y":133.4027862548828,"wires":[["bde75f46.94e3a"]]},{"id":"bc85e135.12eed8","type":"comment","z":"799cf6e6.8fa178","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Visual Recognition](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition)\n\n","x":115,"y":20,"wires":[]},{"id":"8272d03a.fe7dc","type":"comment","z":"799cf6e6.8fa178","name":"Configure VR v3 nodes with the API Key","info":"As it is only possible to bind a single application to the \nWatson Visual Recognition V3 service in Bluemix, it is \nrecommended that you do not bind the service to this \napplication and instead make use of the\nAPI Key which is available in the Bluemix Console in the Credentials section \nof the service detail.","x":710.5000076293945,"y":20,"wires":[]},{"id":"5464b28.2b10b4c","type":"comment","z":"799cf6e6.8fa178","name":"TRAINING your own classifiers","info":"build new Specific Classifier to be used.","x":145,"y":394.2500057220459,"wires":[]},{"id":"2ee9f875.9eeed8","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":84.5,"y":58.5,"wires":[["9447acb1.de22b8"]]},{"id":"9447acb1.de22b8","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (en)","apikey":"bd3951df2e999ccbb637b832b1b7444cbaf27873","image-feature":"classifyImage","lang":"en","x":466.5,"y":59.5,"wires":[["65b07d9d.c1cddc"]]},{"id":"ab358690.801bc8","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/5.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":174.50000095367432,"wires":[["48c61f2c.693ea"]]},{"id":"48c61f2c.693ea","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Recognize Text","apikey":"","image-feature":"recognizeText","x":459,"y":172.50000095367432,"wires":[["65b07d9d.c1cddc"]]},{"id":"e3d02d36.c659d","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Detect Faces","apikey":"","image-feature":"detectFaces","x":466.5,"y":247.50000095367432,"wires":[["65b07d9d.c1cddc"]]},{"id":"4c26f40a.29f91c","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":247.50000095367432,"wires":[["e3d02d36.c659d"]]},{"id":"65b07d9d.c1cddc","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":684.5,"y":173.5,"wires":[]},{"id":"ece4ddd.104102","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.5,"y":97.50000095367432,"wires":[["5394b12.2655cd"]]},{"id":"5394b12.2655cd","type":"http request","z":"799cf6e6.8fa178","name":"","method":"GET","ret":"bin","url":"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","x":267.5,"y":96.5,"wires":[["9447acb1.de22b8"]]},{"id":"2b31fd16.ae80c2","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"lego-2.jpg","name":"lego-2.jpg","x":266.5,"y":137.50000095367432,"wires":[["9447acb1.de22b8"]]},{"id":"b8197d9e.46372","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":137.50000095367432,"wires":[["2b31fd16.ae80c2"]]},{"id":"26dc18ba.89da88","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"create a classifier","apikey":"","image-feature":"createClassifier","x":549,"y":524.2500057220459,"wires":[["c5328279.a1662"]]},{"id":"9e74252a.f47508","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"retrieve classifiers list","apikey":"","image-feature":"retrieveClassifiersList","x":545,"y":575.25,"wires":[["c5328279.a1662"]]},{"id":"2a226b4.41ee594","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"retrieve classifier details","apikey":"","image-feature":"retrieveClassifierDetails","x":549,"y":621.2500057220459,"wires":[["c5328279.a1662"]]},{"id":"ce1846f6.dc1028","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"delete a classifier","apikey":"","image-feature":"deleteClassifier","x":530,"y":673.2500057220459,"wires":[["c5328279.a1662"]]},{"id":"cae7773e.d5aa8","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":433.2500057220459,"wires":[["e26abc69.de5b1"]]},{"id":"87f00d80.970dd8","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":573.2500057220459,"wires":[["9e74252a.f47508"]]},{"id":"5e146234.bb719c","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":619.2500057220459,"wires":[["6a1e27e7.70f4c8"]]},{"id":"fbc68db7.be1ed","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":666.2500057220459,"wires":[["50612f04.2d13a"]]},{"id":"82a125bb.79d0a","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"retrievers_positive.zip","name":"retrievers_positive.zip","x":159.5,"y":482.2500057220459,"wires":[["a42299ba.8b9b"]]},{"id":"a39dd80f.0bf068","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"retrievers_negative.zip","name":"retrievers_negative.zip","x":159.5,"y":530.25,"wires":[["a9104932.6340d8"]]},{"id":"a42299ba.8b9b","type":"change","z":"799cf6e6.8fa178","name":"set positives","rules":[{"t":"set","p":"params.retrievers_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":482.2500057220459,"wires":[["a39dd80f.0bf068"]]},{"id":"a9104932.6340d8","type":"change","z":"799cf6e6.8fa178","name":"set negatives","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.5,"y":532.25,"wires":[["26dc18ba.89da88"]]},{"id":"e26abc69.de5b1","type":"function","z":"799cf6e6.8fa178","name":"set name","func":"msg.params={'name':'retrievers'};\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":433.2500057220459,"wires":[["82a125bb.79d0a"]]},{"id":"c5328279.a1662","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":787,"y":621.25,"wires":[]},{"id":"8dc9c26a.f5bf28","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"faces-1.jpg","name":"faces-1.jpg","x":267,"y":283.5000009536743,"wires":[["e3d02d36.c659d"]]},{"id":"c9191b2b.adb0e","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":283.5000009536743,"wires":[["8dc9c26a.f5bf28"]]},{"id":"a9b08cb1.2ec6d","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"text-5.jpg","name":"text-5.jpg","x":256,"y":209.50000095367432,"wires":[["48c61f2c.693ea"]]},{"id":"6ee67d4a.9a9ed4","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":209.50000095367432,"wires":[["a9b08cb1.2ec6d"]]},{"id":"6a1e27e7.70f4c8","type":"function","z":"799cf6e6.8fa178","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_576045825'};\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":621.2500057220459,"wires":[["2a226b4.41ee594"]]},{"id":"50612f04.2d13a","type":"function","z":"799cf6e6.8fa178","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_1305424883'};\nreturn msg;","outputs":1,"noerr":0,"x":315.5,"y":672.2500057220459,"wires":[["ce1846f6.dc1028"]]},{"id":"4acd07cc.bf00e8","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.25,"y":825.25,"wires":[["9d60511d.31cbf"]]},{"id":"d5a2f2af.952d8","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"4-dog.jpg","name":"4-dog.jpg","x":514.25,"y":826.25,"wires":[["e803ce32.98d"]]},{"id":"9d60511d.31cbf","type":"function","z":"799cf6e6.8fa178","name":"set classifier_ids","func":"msg.params={};\nmsg.params[\"classifier_ids\"]=\"retrievers_400995941\";\nreturn msg;","outputs":1,"noerr":0,"x":291.25,"y":826.25,"wires":[["d5a2f2af.952d8"]]},{"id":"8767c193.1ee44","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"true","complete":"result","x":763.25,"y":969.25,"wires":[]},{"id":"f147c85e.f570f8","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113.25,"y":878.25,"wires":[["8f05096d.b7761"]]},{"id":"8f05096d.b7761","type":"function","z":"799cf6e6.8fa178","name":"set owners","func":"msg.params={};\nmsg.params[\"owners\"]=\"me,IBM\";\nreturn msg;","outputs":1,"noerr":0,"x":282.25,"y":879.25,"wires":[["d5a2f2af.952d8"]]},{"id":"ed676278.071eb","type":"comment","z":"799cf6e6.8fa178","name":"Advanced Options","info":"build new Specific Classifier to be used.","x":108.25,"y":775.25,"wires":[]},{"id":"b711dfc5.84246","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.25,"y":930.25,"wires":[["124cd65c.c5a342"]]},{"id":"124cd65c.c5a342","type":"function","z":"799cf6e6.8fa178","name":"set threshold","func":"msg.params={};\nmsg.params[\"threshold\"]=\"0.3\";\nreturn msg;","outputs":1,"noerr":0,"x":283.25,"y":932.25,"wires":[["d5a2f2af.952d8"]]},{"id":"f37b9854.3c1ef8","type":"inject","z":"799cf6e6.8fa178","name":"caricature test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.75000381469727,"y":331.25001525878906,"wires":[["ab453496.249ac8"]]},{"id":"ab453496.249ac8","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"caricature-devoxx-france-2016.jpg","name":"caricature","x":272.50000381469727,"y":331.25001525878906,"wires":[["eeecf4b4.d5d688","17567593.2b8002"]]},{"id":"eeecf4b4.d5d688","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image","apikey":"","image-feature":"classifyImage","lang":"es","x":460.00000381469727,"y":332.50001525878906,"wires":[["5d82f82f.6e2db"]]},{"id":"17567593.2b8002","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Recognize Text","apikey":"","image-feature":"recognizeText","x":451.25000381469727,"y":381.25001525878906,"wires":[["5d82f82f.6e2db"]]},{"id":"5d82f82f.6e2db","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":693.1250038146973,"y":352.50001525878906,"wires":[]},{"id":"53b7ecf0.d25ad4","type":"comment","z":"799cf6e6.8fa178","name":"Samples Files (click me)","info":"Here is the link where you can download all the sample files used in this sample flow :\n[Watson Visual Recognition v3 Sample Files](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition/sample_files)","x":423.12501525878906,"y":20,"wires":[]},{"id":"f7df4c54.a93bd8","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":718,"wires":[["1c3ea82d.d0fdd8"]]},{"id":"1c3ea82d.d0fdd8","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"delete All classifiers","apikey":"","image-feature":"deleteAllClassifiers","x":530,"y":721,"wires":[["c5328279.a1662"]]},{"id":"f4aff289.2256","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":984,"wires":[["3248ae4.c1d1f52"]]},{"id":"3248ae4.c1d1f52","type":"function","z":"799cf6e6.8fa178","name":"override accept_language (Arabic)","func":"msg.params={};\nmsg.params['accept_language']='ar'; // try en, jp, es, ar\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":984,"wires":[["d5a2f2af.952d8"]]},{"id":"d2d74b04.91b738","type":"inject","z":"799cf6e6.8fa178","name":"Classify with Accept-Language","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":166,"y":1039,"wires":[["c0234102.b17188"]]},{"id":"c0234102.b17188","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (Arabic)","apikey":"","image-feature":"classifyImage","lang":"ar","x":538,"y":1037,"wires":[["8767c193.1ee44"]]},{"id":"6b274b96.5c77f4","type":"inject","z":"799cf6e6.8fa178","name":"Classify with Accept-Language","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":165,"y":1082,"wires":[["ca0a7e13.511708"]]},{"id":"ca0a7e13.511708","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (Japanese)","apikey":"","image-feature":"classifyImage","lang":"ja","x":546,"y":1083,"wires":[["8767c193.1ee44"]]},{"id":"ae601f75.cd64b","type":"inject","z":"799cf6e6.8fa178","name":"Classify with Accept-Language","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/4.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":167,"y":1126,"wires":[["b9b748fd.b83fd8"]]},{"id":"b9b748fd.b83fd8","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image (Spanish)","apikey":"","image-feature":"classifyImage","lang":"es","x":543,"y":1128,"wires":[["8767c193.1ee44"]]},{"id":"e803ce32.98d","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image","apikey":"","image-feature":"classifyImage","lang":"en","x":632.5,"y":894,"wires":[["8767c193.1ee44"]]},{"id":"7f8f7157.892b4","type":"comment","z":"7c88ce6d.23512","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":118,"y":22,"wires":[]},{"id":"c4a9e70e.a349b","type":"comment","z":"7c88ce6d.23512","name":"Make sure you bind Conversation Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Watson Conversation Service has to be bound to the Node-RED application.\n","x":537,"y":22,"wires":[]},{"id":"9b56d6de.e8896","type":"watson-conversation-v1","z":"7c88ce6d.23512","name":"","workspaceid":"","multiuser":false,"context":false,"x":340,"y":128,"wires":[["96a62959.b26128"]]},{"id":"f2604027.0da728","type":"http in","z":"7c88ce6d.23512","name":"BOT Home Page","url":"/bot","method":"get","swaggerDoc":"","x":106,"y":81,"wires":[["c5bafa1b.91dc78"]]},{"id":"c5bafa1b.91dc78","type":"template","z":"7c88ce6d.23512","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":355,"y":83,"wires":[["e0e8110f.2856e"]]},{"id":"e0e8110f.2856e","type":"http response","z":"7c88ce6d.23512","name":"","x":579,"y":83,"wires":[]},{"id":"84260972.cfae58","type":"http in","z":"7c88ce6d.23512","name":"BOT REST API","url":"/botchat","method":"post","swaggerDoc":"","x":104,"y":129,"wires":[["fb1d2c11.2636d8"]]},{"id":"2ccd1591.6b5d2a","type":"http response","z":"7c88ce6d.23512","name":"","x":580,"y":131,"wires":[]},{"id":"fb1d2c11.2636d8","type":"function","z":"7c88ce6d.23512","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":191,"wires":[["9b56d6de.e8896"]]},{"id":"96a62959.b26128","type":"function","z":"7c88ce6d.23512","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":191,"wires":[["2ccd1591.6b5d2a"]]},{"id":"462911e6.0ebda","type":"comment","z":"99ccde8b.e0dcf","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Speech to Text](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/speech_to_text)\n","x":115,"y":20,"wires":[]},{"id":"b3b84ae0.a509c","type":"comment","z":"99ccde8b.e0dcf","name":"Make sure you bind Speech to Text Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Speech to Text Service has to be bound to the Node-RED application.\n","x":475,"y":20,"wires":[]},{"id":"8afafacf.1e7d88","type":"inject","z":"99ccde8b.e0dcf","name":".wav URL","topic":"","payload":"https://github.com/watson-developer-cloud/node-red-labs/blob/master/basic_examples/speech_to_text/audio_message.wav","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":81,"wires":[["af57249e.a117"]]},{"id":"19d1d0.febdbe3","type":"inject","z":"99ccde8b.e0dcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":139,"wires":[["189d8107.a10497"]]},{"id":"189d8107.a10497","type":"dropbox","z":"99ccde8b.e0dcf","dropbox":"","filename":"SpaceShuttle.wav","name":"Dropbox","x":257,"y":137,"wires":[["9595ddce.106578"]]},{"id":"8e44a02c.87f4c8","type":"watson-speech-to-text","z":"99ccde8b.e0dcf","name":"","lang":"en-US","band":"BroadbandModel","x":342,"y":276,"wires":[["a78e1542.611ca"]]},{"id":"a78e1542.611ca","type":"debug","z":"99ccde8b.e0dcf","name":"","active":true,"console":"false","complete":"transcription","x":546,"y":275,"wires":[]},{"id":"4f06ac4d.578a24","type":"microphone","z":"99ccde8b.e0dcf","name":"","x":108.5,"y":204,"wires":[["a0b5346d.41e5d"]]},{"id":"811b5348.82f6e","type":"link in","z":"99ccde8b.e0dcf","name":"STT In","links":["af57249e.a117","9595ddce.106578","a0b5346d.41e5d"],"x":211,"y":278,"wires":[["8e44a02c.87f4c8"]]},{"id":"af57249e.a117","type":"link out","z":"99ccde8b.e0dcf","name":"STT Wave In","links":["811b5348.82f6e"],"x":220,"y":82,"wires":[]},{"id":"9595ddce.106578","type":"link out","z":"99ccde8b.e0dcf","name":"STT Drop In","links":["811b5348.82f6e"],"x":363,"y":133,"wires":[]},{"id":"a0b5346d.41e5d","type":"link out","z":"99ccde8b.e0dcf","name":"STT Mic In","links":["811b5348.82f6e"],"x":212,"y":208,"wires":[]},{"id":"8537b7f9.0cd77","type":"debug","z":"169f5448.846cac","name":"Identified Language","active":true,"console":"false","complete":"lang","x":549,"y":62,"wires":[]},{"id":"e799b8d1.55caa8","type":"inject","z":"169f5448.846cac","name":"Inject some text","topic":"","payload":"hallo dit is een test","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":61,"wires":[["78be658.486b49c"]]},{"id":"9dc4ffb7.13da7","type":"comment","z":"169f5448.846cac","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Langage Identification](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/language_identification)\n","x":115,"y":21,"wires":[]},{"id":"21de5d09.49b802","type":"comment","z":"169f5448.846cac","name":"Make sure you bind Langage Translation Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Language Translation Service has to be bound to the Node-RED application.\n","x":506,"y":20,"wires":[]},{"id":"78be658.486b49c","type":"watson-language-translator-identify","z":"169f5448.846cac","name":"","x":309,"y":62,"wires":[["4455a27.9f90cdc","8537b7f9.0cd77"]]},{"id":"4455a27.9f90cdc","type":"debug","z":"169f5448.846cac","name":"Languages","active":true,"console":"false","complete":"languages","x":516.5,"y":104,"wires":[]},{"id":"7dcb6c3.0d6df14","type":"comment","z":"da45fc3a.420a7","name":"Training Mode","info":"The example below is used to use the new Training feature of the Language Translation service.","x":77.5,"y":145,"wires":[]},{"id":"d051986a.fa3c08","type":"comment","z":"da45fc3a.420a7","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Langage Translation Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/language_translation)\n","x":115,"y":20,"wires":[]},{"id":"63fb5570.4eb6d4","type":"comment","z":"da45fc3a.420a7","name":"Make sure you bind Langage Translation Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Language Translation Service has to be bound to the Node-RED application.\n","x":484,"y":20,"wires":[]},{"id":"2c4ec174.d53426","type":"inject","z":"da45fc3a.420a7","name":"getStatus","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":232,"wires":[["22e05927.7be5c6"]]},{"id":"5fb06a0b.af00fc","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"payload","x":607,"y":233,"wires":[]},{"id":"a88007e1.25b3f8","type":"inject","z":"da45fc3a.420a7","name":"Train","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82,"y":191,"wires":[["3f1b07aa.3a0b4"]]},{"id":"3f1b07aa.3a0b4","type":"dropbox","z":"da45fc3a.420a7","dropbox":"","filename":"glossary.tmx","name":"Glossary","x":229,"y":192,"wires":[["9fb6d1f5.7213e8"]]},{"id":"11d82450.27048c","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"payload","x":609,"y":192,"wires":[]},{"id":"4a400bec.548574","type":"inject","z":"da45fc3a.420a7","name":"Delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":81,"y":272,"wires":[["7a3d2a91.de4994"]]},{"id":"3d7abf9b.d9166","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"true","x":584,"y":276,"wires":[]},{"id":"176a87e4.d664c","type":"inject","z":"da45fc3a.420a7","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":96,"wires":[["1917e790.c3638"]]},{"id":"9ed68df3.eaf5c","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"payload","x":491,"y":81,"wires":[]},{"id":"535896be.f45a48","type":"comment","z":"da45fc3a.420a7","name":"Translate Mode","info":"The example below is used to use the new Training feature of the Language Translation service.","x":87,"y":58,"wires":[]},{"id":"1917e790.c3638","type":"watson-translator","z":"da45fc3a.420a7","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"ar","password":"","custom":"b1809e78-f34b-48ed-8a8a-c31e6245565f","domainhidden":"news","srclanghidden":"en","destlanghidden":"ar","basemodelhidden":"ar-en","customhidden":"b1809e78-f34b-48ed-8a8a-c31e6245565f","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"false","x":288,"y":97,"wires":[["9ed68df3.eaf5c","886b2108.46d54"]]},{"id":"9fb6d1f5.7213e8","type":"watson-translator","z":"da45fc3a.420a7","name":"","action":"train","basemodel":"de-en","domain":"news","srclang":"en","destlang":"ar","password":"","custom":"b1809e78-f34b-48ed-8a8a-c31e6245565f","domainhidden":"news","srclanghidden":"en","destlanghidden":"ar","basemodelhidden":"de-en","customhidden":"b1809e78-f34b-48ed-8a8a-c31e6245565f","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":409,"y":193,"wires":[["11d82450.27048c"]]},{"id":"22e05927.7be5c6","type":"watson-translator","z":"da45fc3a.420a7","name":"","action":"getstatus","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"ar","password":"","custom":"b1809e78-f34b-48ed-8a8a-c31e6245565f","domainhidden":"news","srclanghidden":"en","destlanghidden":"ar","basemodelhidden":"ar-en","customhidden":"b1809e78-f34b-48ed-8a8a-c31e6245565f","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":410,"y":233,"wires":[["5fb06a0b.af00fc"]]},{"id":"7a3d2a91.de4994","type":"watson-translator","z":"da45fc3a.420a7","name":"","action":"delete","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"ar","password":"","custom":"b1809e78-f34b-48ed-8a8a-c31e6245565f","domainhidden":"news","srclanghidden":"en","destlanghidden":"ar","basemodelhidden":"ar-en","customhidden":"b1809e78-f34b-48ed-8a8a-c31e6245565f","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":410,"y":272,"wires":[["3d7abf9b.d9166"]]},{"id":"886b2108.46d54","type":"debug","z":"da45fc3a.420a7","name":"","active":true,"console":"false","complete":"translation","x":499.5,"y":119,"wires":[]},{"id":"7670e2ee.9e878c","type":"watson-discovery-v1-query-builder","z":"908bbb3c.6f4b38","name":"Build Query","password":"","environment":"","environmenthidden":"","collection":"","collectionhidden":"","query1":"entities.text","query1hidden":"entities.text","queryvalue1":"watson","queryvalue1hidden":"watson","query2":"entities.text","query2hidden":"entities.text","queryvalue2":"facebook","queryvalue2hidden":"facebook","query3":"docSentiment.type","query3hidden":"docSentiment.type","queryvalue3":"positive","queryvalue3hidden":"positive","x":329,"y":383,"wires":[["10447838.e6c6b"]]},{"id":"3ae3bd5.6e7d642","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"List Environments","environmentname":"","environment_id":"","collection_id":"","discovery-method":"listEnvrionments","x":281,"y":77,"wires":[["3e5effd3.a62658"]]},{"id":"1205e422.2e72ac","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102.5,"y":77,"wires":[["3ae3bd5.6e7d642"]]},{"id":"3e5effd3.a62658","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"environments","x":487.5,"y":77,"wires":[]},{"id":"d45d4797.0582d8","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":120,"wires":[["ff6df037.53535"]]},{"id":"ff6df037.53535","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Environment Details","environmentname":"Environment Details","environment_id":"","collection_id":"","discovery-method":"getEnvironmentDetails","x":286,"y":120,"wires":[["5e40dc6d.7f0114"]]},{"id":"5e40dc6d.7f0114","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"environment_details","x":518.5,"y":121,"wires":[]},{"id":"8286333c.401408","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":163,"wires":[["d8c12bdb.cccfd8"]]},{"id":"d8c12bdb.cccfd8","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"List Collections","environmentname":"","environment_id":"","collection_id":"","discovery-method":"listCollections","x":266,"y":164,"wires":[["f39dc803.6edc08"]]},{"id":"f39dc803.6edc08","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"collections","x":451.5,"y":164,"wires":[]},{"id":"bf55198d.f4c988","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Collection Details","environmentname":"","environment_id":"","collection_id":"","discovery-method":"getCollectionDetails","x":274,"y":208,"wires":[["b3b83ce3.ab45"]]},{"id":"4b8d5400.afb8cc","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.5,"y":207,"wires":[["bf55198d.f4c988"]]},{"id":"b3b83ce3.ab45","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"collection_details","x":486.5,"y":207,"wires":[]},{"id":"fd760a58.0be9d","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"List Configurations","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","discovery-method":"listConfigurations","x":273,"y":248,"wires":[["1e092b03.c947cd"]]},{"id":"d9b844cc.4bc618","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.5,"y":246,"wires":[["fd760a58.0be9d"]]},{"id":"1e092b03.c947cd","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"configurations","x":477,"y":247,"wires":[]},{"id":"de38e153.1a05f","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Configuration Details","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","discovery-method":"getConfigurationDetails","x":284,"y":288,"wires":[["759cd8c3.26586"]]},{"id":"5eaac2af.f03b1c","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":287,"wires":[["de38e153.1a05f"]]},{"id":"759cd8c3.26586","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"configuration_details","x":517,"y":288,"wires":[]},{"id":"7b3d4f56.a3c3f","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Query","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","count":"10","query":"text:Broncos","filter":"","aggregation":"term(text)","return":"text,website","discovery-method":"query","x":228,"y":329,"wires":[["846af5b1.3b84c8"]]},{"id":"846af5b1.3b84c8","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"true","complete":"search_results","x":443,"y":329,"wires":[]},{"id":"2c89568d.fd3efa","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91.5,"y":328,"wires":[["7b3d4f56.a3c3f"]]},{"id":"80a593fa.8405e8","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"true","complete":"discoveryparams","x":345.5,"y":435,"wires":[]},{"id":"f339b1b.6bb185","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":382,"wires":[["7670e2ee.9e878c"]]},{"id":"9a6f5316.49f75","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Collection Details","environmentname":"","environment_id":"","collection_id":"","discovery-method":"getCollectionDetails","x":337,"y":474,"wires":[["8ca315dc.e01818"]]},{"id":"8ca315dc.e01818","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"collection_details","x":545,"y":474,"wires":[]},{"id":"86a763a1.113548","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Query Search","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","count":"5","query":"","filter":"","aggregation":"","return":"text","discovery-method":"query","x":330,"y":514,"wires":[["a6c5a960.6cb45"]]},{"id":"a6c5a960.6cb45","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"true","complete":"search_results","x":528,"y":514,"wires":[]},{"id":"10447838.e6c6b","type":"link out","z":"908bbb3c.6f4b38","name":"Discovery Query Set","links":["98975006.29ab7","2da8e870.64e21","95a68e60.c536d"],"x":519,"y":383,"wires":[]},{"id":"98975006.29ab7","type":"link in","z":"908bbb3c.6f4b38","name":"Discovery Params","links":["10447838.e6c6b"],"x":205,"y":435,"wires":[["80a593fa.8405e8"]]},{"id":"2da8e870.64e21","type":"link in","z":"908bbb3c.6f4b38","name":"Discovery Collections","links":["10447838.e6c6b"],"x":204,"y":475,"wires":[["9a6f5316.49f75"]]},{"id":"95a68e60.c536d","type":"link in","z":"908bbb3c.6f4b38","name":"Discovery Query Execute","links":["10447838.e6c6b"],"x":202,"y":516,"wires":[["86a763a1.113548"]]},{"id":"fd52d4cb.1eb5b8","type":"comment","z":"908bbb3c.6f4b38","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Discovery](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/discovery)\n","x":134,"y":24,"wires":[]},{"id":"eac2181d.fd1888","type":"comment","z":"322f3382.26e20c","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Personality Insights](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/personality_insights)\n","x":115,"y":20,"wires":[]},{"id":"fe62a554.9b4108","type":"inject","z":"322f3382.26e20c","name":"","topic":"","payload":"Vice President Johnson, Mr. Speaker, Mr. Chief Justice, President Eisenhower, Vice President Nixon, President Truman, Reverend Clergy, fellow citizens:        We observe today not a victory of party but a celebration of freedom--symbolizing an end as well as a beginning--signifying renewal as well as change. For I have sworn before you and Almighty God the same solemn oath our forbears prescribed nearly a century and three-quarters ago.       The world is very different now. For man holds in his mortal hands the power to abolish all forms of human poverty and all forms of human life. And yet the same revolutionary beliefs for which our forebears fought are still at issue around the globe--the belief that the rights of man come not from the generosity of the state but from the hand of God.       We dare not forget today that we are the heirs of that first revolution. Let the word go forth from this time and place, to friend and foe alike, that the torch has been passed to a new generation of Americans--born in this century, tempered by war, disciplined by a hard and bitter peace, proud of our ancient heritage--and unwilling to witness or permit the slow undoing of those human rights to which this nation has always been committed, and to which we are committed today at home and around the world.       Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.       This much we pledge--and more.       To those old allies whose cultural and spiritual origins we share, we pledge the loyalty of faithful friends. United there is little we cannot do in a host of cooperative ventures. Divided there is little we can do--for we dare not meet a powerful challenge at odds and split asunder.       To those new states whom we welcome to the ranks of the free, we pledge our word that one form of colonial control shall not have passed away merely to be replaced by a far more iron tyranny. We shall not always expect to find them supporting our view. But we shall always hope to find them strongly supporting their own freedom--and to remember that, in the past, those who foolishly sought power by riding the back of the tiger ended up inside.       To those people in the huts and villages of half the globe struggling to break the bonds of mass misery, we pledge our best efforts to help them help themselves, for whatever period is required--not because the communists may be doing it, not because we seek their votes, but because it is right. If a free society cannot help the many who are poor, it cannot save the few who are rich.       To our sister republics south of our border, we offer a special pledge--to convert our good words into good deeds--in a new alliance for progress--to assist free men and free governments in casting off the chains of poverty. But this peaceful revolution of hope cannot become the prey of hostile powers. Let all our neighbors know that we shall join with them to oppose aggression or subversion anywhere in the Americas. And let every other power know that this Hemisphere intends to remain the master of its own house.       To that world assembly of sovereign states, the United Nations, our last best hope in an age where the instruments of war have far outpaced the instruments of peace, we renew our pledge of support--to prevent it from becoming merely a forum for invective--to strengthen its shield of the new and the weak--and to enlarge the area in which its writ may run.       Finally, to those nations who would make themselves our adversary, we offer not a pledge but a request: that both sides begin anew the quest for peace, before the dark powers of destruction unleashed by science engulf all humanity in planned or accidental self-destruction.       We dare not tempt them with weakness. For only when our arms are sufficient beyond doubt can we be certain beyond doubt that they will never be employed.       But neither can two great and powerful groups of nations take comfort from our present course--both sides overburdened by the cost of modern weapons, both rightly alarmed by the steady spread of the deadly atom, yet both racing to alter that uncertain balance of terror that stays the hand of mankind's final war.       So let us begin anew--remembering on both sides that civility is not a sign of weakness, and sincerity is always subject to proof. Let us never negotiate out of fear. But let us never fear to negotiate.       Let both sides explore what problems unite us instead of belaboring those problems which divide us.       Let both sides, for the first time, formulate serious and precise proposals for the inspection and control of arms--and bring the absolute power to destroy other nations under the absolute control of all nations.       Let both sides seek to invoke the wonders of science instead of its terrors. Together let us explore the stars, conquer the deserts, eradicate disease, tap the ocean depths and encourage the arts and commerce.       Let both sides unite to heed in all corners of the earth the command of Isaiah--to \"undo the heavy burdens . . . (and) let the oppressed go free.\"       And if a beachhead of cooperation may push back the jungle of suspicion, let both sides join in creating a new endeavor, not a new balance of power, but a new world of law, where the strong are just and the weak secure and the peace preserved.       All this will not be finished in the first one hundred days. Nor will it be finished in the first one thousand days, nor in the life of this Administration, nor even perhaps in our lifetime on this planet. But let us begin.       In your hands, my fellow citizens, more than mine, will rest the final success or failure of our course. Since this country was founded, each generation of Americans has been summoned to give testimony to its national loyalty. The graves of young Americans who answered the call to service surround the globe.       Now the trumpet summons us again--not as a call to bear arms, though arms we need--not as a call to battle, though embattled we are-- but a call to bear the burden of a long twilight struggle, year in and year out, \"rejoicing in hope, patient in tribulation\"--a struggle against the common enemies of man: tyranny, poverty, disease and war itself.       Can we forge against these enemies a grand and global alliance, North and South, East and West, that can assure a more fruitful life for all mankind? Will you join in that historic effort?       In the long history of the world, only a few generations have been granted the role of defending freedom in its hour of maximum danger. I do not shrink from this responsibility--I welcome it. I do not believe that any of us would exchange places with any other people or any other generation. The energy, the faith, the devotion which we bring to this endeavor will light our country and all who serve it--and the glow from that fire can truly light the world.       And so, my fellow Americans: ask not what your country can do for you--ask what you can do for your country.       My fellow citizens of the world: ask not what America will do for you, but what together we can do for the freedom of man.       Finally, whether you are citizens of America or citizens of the world, ask of us here the same high standards of strength and sacrifice which we ask of you. With a good conscience our only sure reward, with history the final judge of our deeds, let us go forth to lead the land we love, asking His blessing and His help, but knowing that here on earth God's work must truly be our own. ","payloadType":"string","repeat":"","crontab":"","once":false,"x":89,"y":78,"wires":[["f7c6638f.354b2"]]},{"id":"accbc54a.589f68","type":"debug","z":"322f3382.26e20c","name":"","active":true,"console":"true","complete":"insights","x":474,"y":77,"wires":[]},{"id":"5778ae71.925948","type":"comment","z":"322f3382.26e20c","name":"Make sure you bind Personality Insights Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Personality Insights Service has to be bound to the Node-RED application.\n","x":480,"y":20,"wires":[]},{"id":"f7c6638f.354b2","type":"watson-personality-insights-v3","z":"322f3382.26e20c","name":"","inputlang":"en","outputlang":"en","rawscores":true,"consumption":true,"x":266,"y":78,"wires":[["accbc54a.589f68"]]}]
